﻿@model UI.Models.RegistryVM

@{
    ViewBag.Title = Model.Title;

    Func<string, string> passportUrl = (x) => Url.Action("List", "File", new { format = x });
}

@Scripts.Render("~/scripts/plugins/tabs")
@Scripts.Render("~/scripts/plugins/pager")
@Styles.Render("~/styles/jquery-ui")

<div class="content">
    <div>
        @Html.Partial("~/Views/Partial/Selector/Topbar.cshtml", Model.TopbarVM)
    </div>
    <div>
        <div class="b-power_item b-power_list">
            <div class="content_info">
                <span>Наборов данных: @Model.SetsTotal</span>
            </div>

            <div class="data_table ">
                <div class="data_table__filtr ">
                    <div class="data_table__filtr-format">

                        <ul class="b-fast_help">
                            <li>
                                <span>Скачать</span>
                                <div class="js-dropdown dropdown dropdown--right">
                                    <div class="dropdown__current">
                                        <a class="download min_button" href="@passportUrl(".csv")">
                                            <span></span>
                                        </a>
                                    </div>

                                    <div class="dropdown__sub" style="display: none;">
                                        <div class="dropdown__sub__inner">
                                            <div class="b-docs-list">
                                                <ul>
                                                    <li class="csv">
                                                        <a href="@passportUrl(".csv")">СКАЧАТЬ ПАССПОРТ РЕЕСТРА</a>
                                                        <span class="size">(CSV)</span>
                                                    </li>

                                                    @*<li class="json">
                                                        <a href="@passportUrl(".json")">СКАЧАТЬ ПАССПОРТ РЕЕСТРА</a>
                                                        <span class="size">(JSON)</span>
                                                    </li>

                                                    <li class="xml">
                                                        <a href="@passportUrl(".xml")">СКАЧАТЬ ПАССПОРТ РЕЕСТРА</a>
                                                        <span class="size">(XML)</span>
                                                    </li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div>
                            <div class="params-line">
                                <div class="data_table__search item">
                                    @Html.Raw("Наименование:")
                                    @Html.TextBoxFor(x => Model.SearchPhrase, new { placeholder = "Поиск набора" })
                                </div>

                                <div class="item">
                                    @Html.Raw("Категория:")
                                    @Html.DropDownListFor(x => Model.SelectedCategoryId, new SelectList(Model.Categories, "Id", "Name"))
                                </div>

                                <div class="item">
                                    @Html.Raw("Поставщик:")
                                    @Html.DropDownListFor(x => Model.SelectedAgencyId, new SelectList(Model.Agencies, "Id", "Name"))
                                </div>
                            </div>

                            <div class="clearfix">
                                <input class="button button-sm" type="submit" value="Найти" id="search_btn">
                            </div>
                        </div>

                    </div>
                </div>
                @if (Model.SetsTotal > 0)
                {
                    @Html.Partial("~/Views/Partial/Pager.cshtml")
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Набор</th>
                                <th>Описание</th>
                                <th>Категория</th>
                                <th>Поставщики данных для набора</th>
                                @*<th>Наборы, входящие в данный</th>*@
                            </tr>
                        </thead>
                        <tbody id="registry_table">
                        </tbody>
                    </table>
                    @Html.Partial("~/Views/Partial/Pager.cshtml")
                }
                else
                {
                    <h1>Ничего не найдено</h1>
                }
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(function () {
        @if (Model.SetsTotal > Common.Configuration.Base.ItemsPerPage)
        {
            <text>
        generatePagerFor($('nav.pager'), @(Model.SetsTotal / Common.Configuration.Base.ItemsPerPage + 1), pagerClick);
            </text>
        }

        $("#search_btn").click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Filter", "Registry")',
                data: { 
                    searchParhase: $('#SearchPhrase').val(), 
                    agencyId: $('#SelectedAgencyId').val(),
                    categoryId: $('#SelectedCategoryId').val()
                }
            }).done(function(){
                location.href='@Url.Action("Index", "Registry")';
            });
        });

        loadData(1);

    });

    function pagerClick(atag){
        var _page = atag.data('page-num');
        loadData(_page);
    }

    function loadData(_page) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Load", "Registry")',
            data: { page: _page }
        }).done(function (data) {
               
            var table = $("#registry_table");
            table.empty();

            var items_perPage = @(Common.Configuration.Base.ItemsPerPage);

            data.forEach(function (item, i) {
                var tr = $('<tr data-key="' + item.Id + '"></tr>');

                var td_num = $('<td class="td-number"></td>');
                td_num.text(items_perPage * (_page - 1) + i + 1 );

                var td_name = $('<td class="td-name"></td>');
                var a_name = $('<a href="' + item.Id + '" title="Просмотреть данные набора от всех поставщиков"> </a>"');
                a_name.text(item.Name);
                td_name.html(a_name);

                var td_desc = $('<td class="td-desc"></td>');
                td_desc.text(item.Description);

                var td_cat = $('<td class="td-cat"></td>');
                td_cat.text(item.Category);

                var td_agency = $('<td class="td-agent"></td>');
                var td_agency_ul = $('<ul></ul>');

                var td_agency_sets = $('<td class="td-agent"></td>');
                var td_agency_sets_ul = $('<ul></ul>');

                item.Agencies.forEach(function(agency, j){
                    var td_agency_ul_li = $('<li></li>');
                    var td_agency_sets_ul_li = $('<li></li>');
                    
                    var a_agency_set = $('<a href="/'+agency.SetId+'" title="Просмотреть данные поставщика ' + agency.Name + '"></a>');
                    var a_agency = $('<a href="/agency/' + agency.AgencyId + '" title="Наборы поставщика"></a>');
                    
                    a_agency.text(agency.Name);
                    a_agency_set.text(agency.SetTitle);

                    td_agency_ul_li.html(a_agency);
                    td_agency_ul.html(td_agency_ul_li);

                    td_agency_sets_ul_li.html(a_agency_set);
                    td_agency_sets_ul.html(td_agency_sets_ul_li);

                });

                td_agency.html(td_agency_ul);
                td_agency_sets.html(td_agency_sets_ul);

                tr.append(td_num);
                tr.append(td_name);
                tr.append(td_desc);
                tr.append(td_cat);
                tr.append(td_agency);
                //tr.append(td_agency_sets);

                table.append(tr);

            });
        });
    }
</script>
