﻿@model Repository.Entities.Agency

@{
    bool isActive = ViewData["currentItemId"] != null && Model.Id == (Guid)ViewData["currentItemId"];
    
    string itemImgSrc = string.Format("/Content/Images/app/agency/{0}.png",
        !string.IsNullOrEmpty(Model.Keyword) ? Model.Keyword : "no-image");
}

<li class="@(isActive? "active" : "")" title=" @string.Format("Наборы поставщика \"{0}\"", Model.Name)">
    <a href="@Url.Action("Sets", "Agency", new { Model.Id })" data-key="@Model.Id">
        <span class="icon_menu @string.Format("{0}_{1}", "agency", Model.Keyword)">
            <img src="@itemImgSrc" />
        </span>
        @Model.Name
    </a>
</li>
