﻿@model Repository.Entities.Category

@{
    bool isActive = ViewData["currentItemId"] != null && Model.Id == (Guid)ViewData["currentItemId"];
    
    string itemImgSrc = string.Format("/Content/Images/app/category/{0}.png",
        !string.IsNullOrEmpty(Model.Keyword) ? Model.Keyword : "no-image");
}

<li class="@(isActive? "active" : "")" title="@string.Format("Наборы категории \"{0}\"",Model.Name)">
    <a href="@Url.Action("Sets", "category", new { Model.Id })" data-key="@Model.Id">
        <span class="icon_menu @string.Format("{0}_{1}", "category", Model.Keyword)">
            <img src="@itemImgSrc" />
        </span>
        @Model.Name
    </a>
</li>

