﻿@model UI.Models.BaseVM

<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html dir="ltr" lang="ru" class="no-js ie7 index"><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="ru" class="no-js ie8 index"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="ru" class="no-js ie9 index"><![endif]-->
<!--[if IE 10 ]><html dir="ltr" lang="ru" class="no-js ie10 index"><![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html dir="ltr" lang="ru" class="no-js index">
<!--<![endif]-->

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,400italic&subset=latin,cyrillic" rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/Fonts/stylesheet.css")" rel='stylesheet' type='text/css' />
    <title>@("Портал ОД: " + ViewBag.Title)</title>

    @Styles.Render("~/styles/main")
    @Scripts.Render("~/scripts/main")

</head>

<body >
    @*<script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter26462514 = new Ya.Metrika({
                        id: 26462514,
                        webvisor: true,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div>
            <img src="//mc.yandex.ru/watch/26462514" style="position: absolute; left: -9999px;" alt="" />
        </div>
    </noscript>*@
    <!-- /Yandex.Metrika counter -->

    <div class="gerb"></div>

    <div class="wrapper b-center">
        <div class="header clearfix">
            @{Html.RenderPartial("~/Views/Partial/Layout/TopRightDropDownMenu.cshtml", Model.ExternalLinks);}
            <div class="logo"><a href="/">
                <img src="/Content/Images/app/logo.png" alt="Портал открытых данных Краснодарского края" /></a> </div>
            @{Html.RenderPartial("~/Views/Partial/Layout/SearchForm.cshtml");}
        </div>

        <div class="container">
            @RenderBody()
            <br class="clear" />
        </div>
    </div>

    <div class="footer">
        @{ Html.RenderPartial("~/Views/Partial/Layout/Footer.cshtml", Model.ExternalLinks); }
    </div>

    @{ Html.RenderPartial("~/Views/Partial/Layout/FeedBack.cshtml", Model.FeedBackVM); }

    <div class="haze"></div>

</body>
</html>
