﻿@{
    ViewBag.Title = "О Портале";
    Layout = "~/Views/Layouts/_Main.cshtml";
}

<div class="content">
    
    
     
    <div class="text">
        <h1>О портале</h1>
        <p>Целью проекта «Портал открытых данных Краснодарского края» является предоставление открытого доступа к базе данных, хранящей информацию о результатах деятельности органов исполнительной государственной власти Краснодарского края, для граждан, сотрудников государственных учреждений и представителей бизнес сектора.</p>
        <p>Предоставление информации осуществляется в соответствии с положениями Федерального закона «Об обеспечении доступа к информации о деятельности государственных органов и органов местного самоуправления» № 8-ФЗ от 9 февраля 2009 года.</p>
        <p class="highlighted">Реализация проекта «Портал открытых данных Краснодарского края» способствует развитию следующих перспектив:</p>
        <div class="clearfix">
            <div class="b-column b-column__left">
                <div class="b-bg"><h4>Для государственных органов и органов местного самоуправления Краснодарского края:</h3></div>
                <ul class="ul-extended">
                    <li>концентрация массивов данных о результатах деятельности государственных органов и органов местного самоуправления в одном месте;</li>
                    <li>упорядочение и структурирование больших массивов данных, а также представление их в удобном для восприятия виде;</li>
                    <li>повышение уровня доверия граждан к государственным органам и органам местного самоуправления Краснодарского края;</li>
                    <li>формирование и последующее развитие информационной основы для реализации проекта «Открытое правительство Краснодарского края».</li>
                </ul>
            </div>
            <div class="b-column b-column__right">
                <div class="b-bg"><h4>Для граждан:</h3></div>
                <ul class="ul-extended">
                    <li>доступ к базе данных, хранящей информацию о результатах деятельности государственных органов и органов местного самоуправления Краснодарского края;</li>
                    <li>повышение уровня информированности граждан о различных показателях деятельности государственных органов и органов местного самоуправления Краснодарского края.</li>
                </ul>
                <div class="b-bg"><h4>Для бизнес-сектора:</h3></div>
                <ul class="ul-extended">
                    <li>обеспечение представителей бизнес-сектора данными, необходимыми для интенсификации их деятельности и увеличения уровня экономического роста в регионе.</li>
                </ul>
            </div>
        </div>
        <div class="clearfix">
            <div class="b-column b-column__left">
                <div class="b-bg">
                    <h3>Похожие ресурсы</h3>
                    <div class="b-content">
                        <ul class="submenu_right">
                            <li><a href="http://data.gov.ru">Открытые данные Открытого Правительства Российской Федерации</a></li>
                            <li><a href="http://data.mos.ru/">Портал открытых данных Правительства Москвы</a></li>
                        </ul>
                    </div>
                </div>
                <p>Все предоставляемые порталом данные доступны пользователю для просмотра и скачивания.</p>
            </div>
            <div class="b-column b-column__right">
                <div class="b-bg">
                    <h3>СМИ ОБ ОТКРЫТЫХ ДАННЫХ</h3>
                    <div class="b-smi b-content">
                        <a href="http://ru.wikipedia.org/wiki/Открытые_данные">Wikipedia</a>
                        <p>Открытые данные (англ. open data) — идея, что определённые данные должны быть свободно доступны для всех в использовании и републикации как они желают без ограничений авторского права, патентов и других механизмов контроля. </p>
                    </div>
                </div>
            </div>
        </div>     
        
    </div>
</div>
<div class="sidebar left">
    <div class="b-bg">
        <h4>Предоставляемая на портале информация подразделяется на следующие категории:</h4>
        <div class="b-content">
            <ul class="ul-marker">
                <li>здравоохранение;</li>
                <li>социальная защита населения;</li>
                <li>общественное самоуправление;</li>
                <li>транспорт;</li>
                <li>правопорядок и безопасность;</li>
                <li>образование;</li>
                <li>власть;</li>
                <li>финансы;</li>
                <li>торговля и сфера услуг;</li>
                <li>спорт;</li>
                <li>молодежная среда;</li>
                <li>связь;</li>
                <li>незаконное строительство;</li>
            </ul>
        </div>
    </div>

    <div class="b-bg b-bg__video">
        <h3>ВИДЕОМАТЕРИАЛЫ</h3>
        <div class="b-content">
            <div class="b-video">
                <img src="~/Content/Images/app/temp_video_image.png" alt="" />
            </div>
        </div>
    </div>
    

    <div class="b-bg">
        <h3>Для СМИ</h3>
        <div class="b_for_smi b-content">
            <p>Эмблема ОД Краснодарского края</p>
            <ul>
                <li><a href="#">.ai</a></li>
                <li><a href="#">.eps</a></li>
                <li><a href="#">.pdf</a></li>
                <li><a href="#">.cdr</a></li>
                <li><a href="#">.psd</a></li>
                <li><a href="#">.svg</a></li>
            </ul>
        </div>
    </div>
       
</div>
