﻿@{
    ViewBag.Title = "API";
    Layout = "~/Views/Layouts/_Main.cshtml";
}

<div class="content">
    <div class="text">
        <h1>API</h1>
        <p><a href="/api/v1/odata">/api/v1/odata</a> - возвращает список доступных коллекций сущностей.</p>
        <p><a href="/api/v1/odata/$metadata">/api/v1/odata/$metadata</a> - возвращает описание сущностей и связей между ними.</p>
        <p><a href="/api/v1/odata/Categories">/api/v1/odata/Categories</a> - возвращает список категорий.</p>
        <p><a href="/api/v1/odata/Municipalities">/api/v1/odata/Municipalities</a> - возвращает список муниципальных образований.</p>
        <p><a href="/api/v1/odata/Agencies">/api/v1/odata/Agencies</a> - возвращает список органов власти.</p>
        <p><a href="/api/v1/odata/Sets">/api/v1/odata/Sets</a> - возвращает список всех документов.</p>
    </div>
</div>
