﻿@{
    ViewBag.Title = "Разработчикам";
    Layout = "~/Views/Layouts/_Main.cshtml";
}

<div class="content">
    <div class="text text-default" style="margin-right:0">
        <h1>разработчикам</h1>
        <!--
        
        <p>“Портал открытых данных Краснодарского края” (далее “Портал”) разработан на основании Указа Президента Российской Федерации «Об основных направлениях совершенствования системы государственного управления» № 601 от 07.05.2012 с целью обеспечения доступа в сети Интернет к открытым данным, содержащимся в информационных системах органов государственной власти РФ.<br />
            Для представления открытых данных в машиночитаемом формате и организации возможности их чтения используется протокол OData.</p>
        <p>OData (open data protocol) - открытый стандартизированный протокол для разработки и использования программных интерфейсов (API) доступа к данным и взаимодействия с ними. В основе OData лежат протоколы HTTP и AtomPub, методология REST, а также форматы данных Atom  и JSON.</p>
        <p>Подробную информация о протоколе OData можно получить на странице <a href="http://www.odata.org">http://www.odata.org</a></p>
        <p>Доступ к открытым данным осуществляется только в режиме чтения.<br />
            Метаданные, описывающие модель данных (систему типов данных и отношения между ними) можно получить по ссылке вида <a href="/api/v1/odata/$metadata">http://&lt;host&gt;/api/v1/odata/$metadata</a>.<br />
            Информацию о коллекциях данных можно получить по ссылке вида <a href="/api/v1/odata">http://&lt;host&gt;/api/v1/odata</a>.</p>
        <p>Подробную информацию о формировании запросов можно получить по ссылкам “API”  на страницах “Портала”, а также на официальной странице протокола: <a href="http://www.odata.org/setation/odata-v3-setation/odata-core/#102_Requesting_Data">http://www.odata.org/setation/odata-v3-setation/odata-core/#102_Requesting_Data</a>.</p>
        <p>На текущий момент “Портал” поддерживает следующие параметры  OData-запросов: <span class="red">$filter</span>, <span class="red">$inlinecount</span>, <span class="red">$orderby</span>, <span class="red">$skip</span>, <span class="red">$top</span>. Некоторые типы данных могут иметь дополнительные ограничения, указанные в разделе <a href="#">API</a> и рядом с каждым набором данных.</p>
        -->
        <p>Портал открытых данных поддерживает возможность получения данных по протоколу Odata
v4 по средствам API портала.</p>
        <p>Структуры данных, предоставляемые порталом по средствам API Odata и их адреса можно
        получить по слудеющему запросу:</p>
        <code>GET: http://od.krasnodar.ru/api/odata/ </code>
        <p>Результат:</p>
        <code>
            <pre>{
    "@@odata.context":"http://od.krasnodar.ru/api/odata/$metadata","value":[
     {
        "name":"Sets","kind":"EntitySet","url":"Sets"
     },{
        "name":"Types","kind":"EntitySet","url":"Types"
     },{
        "name":"TypeProperties","kind":"EntitySet","url":"TypeProperties"
     },{
        "name":"Attributes","kind":"EntitySet","url":"Attributes"
     },{
        "name":"Constructors","kind":"EntitySet","url":"Constructors"
     },{
        "name":"NamedProperties","kind":"EntitySet","url":"NamedProperties"
     },{
        "name":"SetContent","kind":"EntitySet","url":"SetContent"
     }
  ]
}</pre>
        </code>
       
        <p>Состав структур и метаинформацию по ним можно получить через следующий запрос:</p>
        <code>GET http://od.krasnodar.ru/api/odata/$metadata </code>
        <div class="b-bg"><h2>Описание структур</h2></div>
        <h3>Структура Set</h3>
        <p>Структура <code>Sets</code> служит для описания набора данных, находящегося на портале.</p>
        <p>Состоит из следующих полей:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Тип данных</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Id</td> 
                <td>Edm.Guid</td> 
                <td>Хранит значение идентефикатора набора на портале</td>
            </tr>
            <tr>
                <td>Name</td> 
                <td>Edm.String</td> 
                <td>Наименование набора данных на портале</td>
            </tr>
            <tr>
                <td>Description</td> 
                <td>Edm.String</td> 
                <td>Описание набора</td>
            </tr>
        </table>
        <p>Содержит следующие навигационные поля:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Структура</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Type</td> 
                <td>Type</td> 
                <td>Содержит древовидное описание структуры данных набора</td>
            </tr>
            <tr>
                <td>Rows</td> 
                <td>Collection(SetContent)</td> 
                <td>Содержит коллекцию значений полей набора</td>
            </tr>
        </table>
        <h3>Структура Type</h3>
        <p>Структура Type служит для описания типа данных хранящихся в наборе в виде дерава свойств объекта и атрибутов.</p>
        <p>Состоит из следующих полей:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Тип данных</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Id</td> 
                <td>Edm.Guid</td> 
                <td>Уникалиный идентефикатор типа данных набора</td>
            </tr>
            <tr>
                <td>Name</td> 
                <td>Edm.String</td> 
                <td>Наименование типа данных</td>
            </tr>
            <tr>
                <td>Alias</td> 
                <td>Edm.String</td> 
                <td>Текстовое описание типа данных</td>
            </tr>
        </table>
        <p>Содержит следующие навигационные поля:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Структура</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Properties</td> 
                <td>Collection(Property)</td> 
                <td>Содержит описание свойств типа</td>
            </tr>
            <tr>
                <td>Attributes</td> 
                <td>Collection(Attribute)</td> 
                <td>Содержит описание аттрибутов типа</td>
            </tr>
        </table>
        <h3>Структура Property</h3>
        <p>Структура Properties служит для описания свойств типа данных.</p>
        <p>Состоит из следующих полей:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Тип данных</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Id</td> 
                <td>Edm.Guid</td> 
                <td>Уникалиный идентефикатор</td>
            </tr>
            <tr>
                <td>Name</td> 
                <td>Edm.String</td> 
                <td>Наименование</td>
            </tr>
        </table>
        <p>Содержит следующие навигационные поля:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Структура</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Type</td> 
                <td>Type</td> 
                <td>Содержит описание типа данных свойства</td>
            </tr>
            <tr>
                <td>Attributes</td> 
                <td>Collection(Attribute)</td> 
                <td>Содержит описание аттрибутов свойства</td>
            </tr>
        </table>
        <h3>Структура Attribute</h3>
        <p>Структура Attribute описывает аттрибуты типов данных и свойств типов данных.</p>
        <p>Состоит из следующих полей:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Структура</th> 
                <th>Тип данных</th>
            </tr>
            <tr>
                <td>Id</td> 
                <td>Edm.Guid</td> 
                <td>Уникалиный идентефикатор</td>
            </tr>
        </table>
        <p>Содержит следующие навигационные поля:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Структура</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Type</td> 
                <td>Type</td> 
                <td>Содержит описание типа данных аттрибута</td>
            </tr>
            <tr>
                <td>NamedProperties</td> 
                <td>Collection(NamedProperty)</td> 
                <td>Коллекция свойств аттрибута</td>
            </tr>
            <tr>
                <td>Constructors</td> 
                <td>Collection(Constructor)</td> 
                <td>Описание конструкторов аттрибута</td>
            </tr>
        </table>
        <h3>Структура Constructor</h3>
        <p>Структура Constructor определяет набор значений параметров атрибута.</p>
        <p>Состоит из следующих полей:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Тип данных</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Id</td> 
                <td>Edm.Guid</td> 
                <td>Уникалиный идентефикатор</td>
            </tr>
            <tr>
                <td>Value</td> 
                <td>Edm.String</td> 
                <td>Строковое значние параметра атрибута</td>
            </tr>
            <tr>
                <td>TypeGUID</td> 
                <td>Edm.Guid</td> 
                <td>Идентефикатор типа значения</td>
            </tr>
        </table>
        <h3>Структура NamedProperty</h3>
        <p>Структура NamedProperty определяет набор свойств аттрибута.</p>
        <p>Состоит из следующих полей:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Тип данных</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Id</td> 
                <td>Edm.Guid</td> 
                <td>Уникалиный идентефикатор</td>
            </tr>
            <tr>
                <td>Name</td> 
                <td>Edm.String</td> 
                <td>Строковое значние параметра атрибута</td>
            </tr>
            <tr>
                <td>Value</td> 
                <td>Edm.String</td> 
                <td>Значение параметра аттрибута</td>
            </tr>
        </table>
        <h3>Структура SetContent</h3>
        <p>Структура SetContent служит для описания содержимого набора данных.</p>
        <p>Состоит из следующих полей:</p>
        <table>
             <tr>
                <th>Поле</th> 
                <th>Тип данных</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Id</td> 
                <td>Edm.Guid</td> 
                <td>Уникалиный идентефикатор</td>
            </tr>
            <tr>
                <td>IsRow</td> 
                <td>Edm.Boolean</td> 
                <td>Определяет, относится ли значение к строке</td>
            </tr>
            <tr>
                <td>IsComplex</td> 
                <td>Edm.Boolean</td> 
                <td>Орпеделяет, является ли значение сложных типом</td>
            </tr>
            <tr>
                <td>PropertyName</td> 
                <td>Edm.String</td> 
                <td>Имя свойства для которого предоставляется значение</td>
            </tr>
            <tr>
                <td>Value</td> 
                <td>Edm.String</td> 
                <td>Строковое представление значения</td>
            </tr>
        </table>
        <p>Содержит следующие навигационные поля:</p>
        <table>
            <tr>
                <th>Поле</th> 
                <th>Структура</th> 
                <th>Описание</th>
            </tr>
            <tr>
                <td>Values</td> 
                <td>Collection(SetContent)</td> 
                <td>Содержит значение отдельных полей значение родительского элемента</td>
            </tr>
        </table>
        <div class="b-bg"><h2>Формирование запросов</h2></div>
        <p>Все возможные запросы можно получить через запрос:</p>
        <code>GET: http://od.krasnodar.ru/api/odata/ </code>
        <p>Результат:</p>
        <code><pre>{
    "@@odata.context":"http://od.krasnodar.ru/api/odata/$metadata","value":[
     {
        "name":"Sets","kind":"EntitySet","url":"Sets"
     },{
        "name":"Types","kind":"EntitySet","url":"Types"
     },{
        "name":"TypeProperties","kind":"EntitySet","url":"TypeProperties"
     },{
        "name":"Attributes","kind":"EntitySet","url":"Attributes"
     },{
        "name":"Constructors","kind":"EntitySet","url":"Constructors"
     },{
        "name":"NamedProperties","kind":"EntitySet","url":"NamedProperties"
     },{
        "name":"SetContent","kind":"EntitySet","url":"SetContent"
     }
  ]
}</pre></code>
        <p>Все запросы к данным можно разделить на две категории:</p>
        <ol>
            <li>Получение всех значений структур</li>
            <li>Получение значения определенной структуры</li>
        </ol>
        <p>Получени всех значений структур можно произвести выполнив запрос к структурам по URL, получаемому из данных результата <code>GET: http://od.krasnodar.ru/api/odata/ </code>, например:</p>
        <p>Получение всех наборов данных, расположенных на портале:</p>
        <code>GET: http://od.krasnodar.ru/api/odata/sets </code>
        <p>Получение конкретного значения структуры можно выполнить отправив запрос к структурам
с параметром идентефикатора значения структуры, например:</p>
        <code>GET: http://od.krasnodar.ru/api/odata/sets(360cdf1d-4168-4b35-b175-013eb9fb239a) </code>
        <p>Так же, для всех структур данных, имеющих поля навигаций, данные поля можно
разворачивать, применяя к запросам параметр  $expand=&lt;nav_field&gt; , где  &lt;nav_field&gt;  - имя
поля навигации.
        <p>Например, для получения типа данных структуры Set вместе с самим набором, необходимо
выполнить следующий запрос:</p>
        <code>GET: http://od.krasnodar.ru/api/odata/sets(360cdf1d-4168-4b35-b175-013eb9fb239a)?$expand=type </code>
        <p>Для структур наборов данных, доступно так же расширение получения значений конкретного
набора:</p>
        <code>GET: http://od.krasnodar.ru/api/odata/sets(360cdf1d-4168-4b35-b175-013eb9fb239a)/rows </code>
        <p>Все запросы поддерживают следующие параметры:</p>
        <table>
            <tr>
                <th>Параметр запроса </th> 
                <th>Тип данных</th> 
                <th>Назначение</th>
            </tr>
            <tr>
                <td>$expand</td> 
                <td>Edm.string</td> 
                <td>Разворачивает значение навигационных полей структуры</td>
            </tr>
            <tr>
                <td>$top</td>
                <td>Edm.integer</td>
                <td>Возвратит первые N элементов</td>
            </tr>
            <tr>
                <td>$orderby</td>
                <td>Edm.strng</td>
                <td>Сортировка результата выборки по параметру</td>
            </tr>
            <tr>
                <td>$skip</td>
                <td>Edm.Integer</td>
                <td>Пропустить N записей выборки</td>
            </tr>
            <tr>
                <td>$select</td>
                <td>Edm.string</td>
                <td>Отобразить только значения указанные в параметре</td>
            </tr>
            <tr>
                <td>$filter</td>
                <td>Edm.string</td>
                <td>Произвести выборку по условию</td>
            </tr>
        </table>
        <p>Вложенность параметров запросов не ограничена и их комбинаций не ограничена.</p>
    </div>
</div>
<!--
<div class="sidebar right">
    <div class="b-bg">
        <h3>примеры запросов</h3>
        <div class="b-content">
            <ul class="submenu_right ul-marker">
                <li>
                @*<a href="#">*@
                Краснодар / Здравоохранение
                @*</a>*@
                </li>
                <li>
                @*<a href="#">*@
                МО: Спорт
                @*</a>*@
                </li>
                <li>
                @*<a href="#">*@
                МО: Культура
                @*</a>*@
                </li>
            </ul>
            <ul class="submenu_right ul-marker">
                <li>
                @*<a href="#">*@
                ОВ: М-во финансов
                @*</a>*@
                </li>
                <li>
                @*<a href="#">*@
                ОВ: М-во образование и науки
                @*</a>*@
                </li>
                <li>
                @*<a href="#">*@
                ОВ: М-во Здравохранения
                @*</a>*@
                </li>
            </ul>
        </div>
    </div>   
</div> -->