﻿@{
    ViewBag.Title = "Условия использования";
    Layout = "~/Views/Layouts/_Main.cshtml";
}

<div class="content">
    <div>
        <h1>Условия использования</h1>
        <p>Условия использования данных, предоставляемых на проекте «Портал открытых данных Краснодарского края» (Портал), гражданами и представителями государственных органов и органов местного самоуправления обозначены ниже.</p>
        <div class="b-bg">
            <h3>Условия использования данных Портала для граждан:</h3>
        </div>
        <ul class="ul-extended">
            <li>Предоставление и использование данных ведется в соответствии с Федеральным законом «Об обеспечении доступа к информации о деятельности государственных органов и органов местного самоуправления» № 8-ФЗ от 9 февраля 2009 года.</li>
            <li>Предоставление информации на Портале осуществляется безвозмездно.</li>
            <li>Пользователь имеет право обращаться в государственные органы, органы местного самоуправления с запросом о предоставлении информации о деятельности этих органов.</li>
            <li>Пользователь имеет право не обосновывать необходимость получения запрашиваемой информации о деятельности государственных органов и органов местного самоуправления, доступ к которой не ограничен.</li>
            <li>Пользователь имеет право получать достоверную информацию о деятельности государственных органов и органов местного самоуправления.</li>
            <li>Пользователь в праве просматривать, копировать, скачивать данные, предоставляемые Порталом.</li>
            <li>При публичном использовании данных, представленных на Портале, необходимо указать информацию в виде ссылки на источник («Портал открытых данных Краснодарского края») получения набора данных.</li>
            <li>Оператор оставляет за собой право ограничить доступ к порталу по числу обращений или объему получения данных за одну сессию, если чрезмерная нагрузка на портал приводит к нарушениям его функционирования.</li>
        </ul>
        <div class="b-bg">
            <h3>Условия использования данных Портала для представителей органов власти:</h3>
        </div>
        <ul class="ul-extended">
            <li>Предоставление и использование данных ведется в соответствии с Федеральным законом № 8-ФЗ от 9 февраля 2009 года «Об обеспечении доступа к информации о деятельности государственных органов и органов местного самоуправления».</li>
            <li>Данные, предоставляемые государственными органами и органами местного самоуправления должны быть достоверны.</li>
            <li>Данные о деятельности государственных органов и органов местного самоуправления должны поддерживаться в актуальном состоянии.</li>
            <li>Актуализация данных государственных органов и органов местного самоуправления должна осуществляться в соответствии с положениями Перечня информации о деятельности федеральных органов исполнительной власти, руководство деятельностью которых осуществляет Правительство Российской Федерации, и подведомственных им федеральных органов исполнительной власти, размещаемой в сети интернет, утвержденного Постановлением Правительства Российской Федерации «Об обеспечении доступа к информации о деятельности Правительства Российской Федерации и федеральных органов исполнительной власти» № 953 от 24 ноября 2009 г.</li>
            <li>Публикации от имени органа власти, его подразделения или подведомственного учреждения подлежит только информация, концентрируемая и создаваемая в рамках выполнения его основных функций.</li>
            <li>Информация о деятельности государственных органов и органов местного самоуправления должна предоставляться в виде электронного документа в установленном формате (xls, csv, xml, json).</li>
            <li>Представители государственных органов и органов местного самоуправления в праве просматривать, копировать, скачивать данные, предоставленные на Портале.</li>
            <li>При публичном использовании данных, представленных на Портале, необходимо указать информацию в виде ссылки на источник («Портал открытых данных Краснодарского края») получения набора данных.</li>
            <li>Оператор оставляет за собой право ограничить доступ к порталу по числу обращений или объему получения данных за одну сессию, если чрезмерная нагрузка на портал приводит к нарушениям его функционирования.</li>
        </ul>
    </div>
</div>


@*<div class="sidebar right">
    <div class="b-bg">
        <h3>Документы</h3>
        <div class="b-content">
            <ul class="submenu_right ul-marker">
                <li>
                    @Html.ActionLink("Работа с шаблонами", "Download", "Home", new { fname = "template_process.docx" }, null)
                </li>
            </ul>
        </div>
    </div>
    <div class="b-bg b-bg__video">
        <h3>Видеоматериалы</h3>
        <div class="b-content">
            <ul class="submenu_right">
                <li>
                    <object width="350" height="288">
                        <param value="http://www.youtube.com/v/TCuPNbkDaPI" name="movie">
                        <param name="allowFullScreen" value="true"></param>
                        <embed allowfullscreen="true" width="350" height="288" type="application/x-shockwave-flash" src="http://www.youtube.com/v/TCuPNbkDaPI" />
                    </object>
                </li>
            </ul>
        </div>
    </div>
</div>*@
