﻿@model UI.Models.SetViewVM

@{
    ViewBag.Title = Model.Title;
    bool isAgency = Model.Id is string;
    var pasport = Model.SetPassports.First();

    var datakey = isAgency ? string.Format("{0}/data-{1}-structure-{2}", pasport.Identifier, pasport.VersCodeName, pasport.StructCodeName) : @Model.Id;

    Model.DownloadButtonVM.AvaliableButtons = isAgency
        ? UI.Models.DownloadButtonVM.Buttons.All
        : UI.Models.DownloadButtonVM.Buttons.Data | UI.Models.DownloadButtonVM.Buttons.Structure;
    
}

@Scripts.Render("~/scripts/plugins/qrcode")
@Scripts.Render("~/scripts/plugins/tabs")

@Scripts.Render("~/scripts/plugins/pager")
@Scripts.Render("~/scripts/plugins/rateit")

@Styles.Render("~/styles/plugin/rateit")

@Styles.Render("~/styles/jquery-ui")

<div class="content">
    <div class="set">
        <h1>@Model.Title</h1>

        <div class="set__line clearfix">
            <ul class="b-fast_help">
                <li>
                    <span>QR-код</span>
                    <a id="btn_qr_code" class="min_button min_button_qr" data-key="@datakey">
                        <span></span>
                    </a>
                </li>
                <li>
                    <span>скачать</span>
                    @{ Html.RenderPartial("~/Views/Partial/DownloadButton.cshtml", Model.DownloadButtonVM); }
                </li>

                @*<li>
                    <span>API</span>
                    <a href="#" class="ind_api_btn min_button">
                        <span data-key="@Model.Id"></span>
                    </a>
                </li>*@
            </ul>
        </div>

        <div class="set__line clearfix">
            @if (isAgency)
            {
                <div class="f-right" id="rating">
                </div>
            }
            <div class="va-m set-select">
                @*<p>Версия набора</p>*@
            </div>
        </div>

        @if (Model.IsEmpty)
        {
            <h1>Даннные отсутствуют</h1>
        }
        else
        {
            <div class="b-tabs b-tabs--grey">
                <ul>
                    <li role="tab" tabindex="1" aria-controls="tabs-added" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
                        <a id="ui-id-1" class="ui-tabs-anchor" href="#tabs-set" role="presentation" tabindex="-1">Набор</a>
                    </li>

                    <li role="tab" tabindex="2" aria-controls="tabs-updated" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
                        <a id="ui-id-2" class="ui-tabs-anchor" href="#tabs-map" role="presentation" tabindex="-1">Гео-метки</a>
                    </li>

                    <li role="tab" tabindex="3" aria-controls="tabs-added" aria-labelledby="ui-id-3" aria-selected="true" aria-expanded="true">
                        <a id="ui-id-3" class="ui-tabs-anchor" href="#tabs-passport" role="presentation" tabindex="-1">Паспорт</a>
                    </li>

                    <li role="tab" tabindex="4" aria-controls="tabs-added" aria-labelledby="ui-id-4" aria-selected="true" aria-expanded="true">
                        <a id="ui-id-4" class="ui-tabs-anchor" href="#tabs-version_info" role="presentation" tabindex="-1">Информация о версиях</a>
                    </li>
                </ul>


                <div id="tabs-set" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
                    @Html.Partial("~/Views/Partial/Set.cshtml", new UI.Models.SetViewVM.SetViewParams(Model.Id, Model.VersionId, Model.DataStructureId))
                </div>

                <div id="tabs-map" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-2" role="tabpanel" style="display: none;" aria-hidden="true">
                    @Html.Partial("~/Views/Partial/Map.cshtml")
                </div>

                <div id="tabs-passport" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-2" role="tabpanel" style="display: none;" aria-hidden="true">
                    @Html.Partial("~/Views/Partial/SetPassports.cshtml", Model.SetPassports)
                </div>

                <div id="tabs-version_info" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-2" role="tabpanel" style="display: none;" aria-hidden="true">
                    @Html.Partial("~/Views/Partial/SetVersionsInfo.cshtml", Model.SetVersionsInfoVM)
                </div>

            </div>
        }
    </div>
    <div class="popup-qr">
        <div class="qr-img"></div>
    </div>
</div>



<div class="popup_api_custom">
    <h3>API</h3>

    @{
        string url = "url";

        string setUrl = "set";


        string passportUrl = "passport";

        string structureUrl = "structure";
    }

    <span class="close_api">X</span>
    <div class="api_body">
        <p class="_set">Набор: <a href="@setUrl">@setUrl</a></p>
        <p class="_passport">Пасспорт набора: <a href="@passportUrl">@passportUrl</a></p>
        <p class="_structure">Структура набора: <a href="@structureUrl">@structureUrl</a></p>
        <p>Подробное описание можно найти на <a href="http://www.odata.org/">странице</a>.</p>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#btn_qr_code').click(function(){
            getQRcode($(this));
        });
        
        $('.b-tabs').tabs();
        
        
            
        @if (isAgency)
        {
            <text>
        generateRatingWidgetFor($('#rating'), 1, @Model.RatingWidgetVM.Value, 
            @Model.RatingWidgetVM.IsReadonly.ToString().ToLowerInvariant(), onRatingSet);
        </text>
        }
    });

    @if (isAgency)
    {
        <text>
        function onRatingSet(event, value) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetRating", "Set")',
                data: { id: '@pasport.Identifier', structId: '@pasport.StructCodeName', versId: '@pasport.VersCodeName', value: value },
                dataType: "json",
                success: function(result){
                    if (result.IsOk){
                        $('#rating').empty();
                        generateRatingWidgetFor($('#rating'), 1, result.value, true, onRatingSet);
                    }
                }
            });
        }
        </text>
    }
    
</script>
