﻿@model UI.Models.ClassifierItemsVM

@{
    ViewBag.Title = Model.Title;
}

@Scripts.Render("~/scripts/plugins/tabs")
@Styles.Render("~/styles/jquery-ui")

<div class="content">
    <div>
        @Html.Partial("~/Views/Partial/Selector/Topbar.cshtml", Model.TopbarVM)
    </div>

    <div>
        <div class="b-power_item b-power_list">
            <div class="content_info">
                <span>Представлено элементов: @Model.Items.Count</span>
                <span>Наборов данных: @Model.SetsTotal</span>
            </div>

            <ul class="menu_list menu_list__extended">
                @foreach (var item in Model.Items)
                {
                    @Html.DisplayFor(x => item);
                }
            </ul>

        </div>
    </div>

</div>
