﻿@model UI.Models.SetsVM

@{
    ViewBag.Title = Model.Title;
    bool isAgency = Model.SidebarVM.Current is Repository.Entities.Agency;

    ViewData["currentItemId"] = Model.SidebarVM.Current.Id;
}

@Scripts.Render("~/scripts/plugins/qrcode")
@Scripts.Render("~/scripts/plugins/pager")
@Scripts.Render("~/scripts/plugins/rateit")

@Styles.Render("~/styles/plugin/rateit")


<div class="content">

    @*@{Html.RenderPartial("~/Views/Partial/Selector/Topbar.cshtml", Model.TopbarVM);}*@

    <div class="text">

        <h1>@Model.SidebarVM.Current.Name</h1>

        <div class="data_table">

            <div class="data_table__filtr-rate">
                Фильтровать по оценке:
            </div>


            @if (Model.SetsTotal == 0)
            {
                <h2>Ничего не найдено.</h2>
            }
            else
            {
                @Html.Partial("~/Views/Partial/Pager.cshtml")
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="nopadding">Наименование</th>
                            <th class="nopadding">Описание</th>
                            @if (!isAgency)
                            {
                                <th class="nopadding">Поставщики данных для набора</th>
                                @*<th class="nopadding">Наборы, входящие в данный</th>*@
                            }
                            else
                            {
                                <th class="nopadding">Категория</th>
                            }
                            <th class="nopadding">Скачать</th>
                            @*<th class="nopadding">API</th>*@
                            <th class="nopadding">
                                <img src="@Url.Content("~/Content/Images/i-views.png")" title="Количество просмотров" alt="">
                            </th>
                            <th class="nopadding">Качество данных</th>
                        </tr>
                    </thead>
                    <tbody id="sets">
                    </tbody>
                </table>
                
                @Html.Partial("~/Views/Partial/Pager.cshtml")
            }
        </div>

        <div class="popup-qr">
            <div class="qr-img"></div>
        </div>


        <div class="popup_api_custom">
            @{
                string url = string.Format("{0}://{1}/{2}/set", Request.Url.GetComponents(UriComponents.Scheme, UriFormat.UriEscaped),
                    Request.Url.GetComponents(UriComponents.HostAndPort, UriFormat.UriEscaped),
                    "api");

                string _setUrl = string.Format("{0}({1}){2}", url, Guid.Empty,
                    (isAgency
                        ? string.Format("/{0}.FromAgency(agency={1})",
                            "name",
                            Model.SidebarVM.Current.Id)
                        : string.Empty));
            }
            <h3>API</h3>
            <span class="close_api">X</span>
            <div class="api_body">
                <p class="set">Документ: <a href="@_setUrl"></a></p>
                <p>Реестр наборов: <a href="@url">@url</a></p>
                <p>Подробное описание можно найти на <a href="http://www.odata.org/setation/odata-v3-setation/odata-core/#102_Requesting_Data">странице</a>.</p>
            </div>
        </div>


    </div>
</div>


<div hidden="hidden" id="download_button_template">

    @{
        var buttonModelTemplate = new UI.Models.DownloadButtonVM
        {
            IsAgency = isAgency,
            Downloaded = 0,
            Id = isAgency ? (object)Common.Constants.Watermarks.SetIdentifier : Guid.Empty,
            VersionId = isAgency ? Common.Constants.Watermarks.VersionCode : string.Empty,
            StructId = isAgency ? Common.Constants.Watermarks.StructureCode : string.Empty,
            AvaliableButtons = isAgency 
                ? UI.Models.DownloadButtonVM.Buttons.All 
                : UI.Models.DownloadButtonVM.Buttons.Data | UI.Models.DownloadButtonVM.Buttons.Structure
        };

        Html.RenderPartial("~/Views/Partial/DownloadButton.cshtml", buttonModelTemplate);
    }

</div>


@{Html.RenderPartial("~/Views/Partial/Selector/Sidebar.cshtml", Model.SidebarVM);}



<script type="text/javascript">
    $(function () {

         @if (Model.SetsTotal > Common.Configuration.Base.ItemsPerPage)
         {
            <text>
        generatePagerFor($('nav.pager'), @(Model.SetsTotal / Common.Configuration.Base.ItemsPerPage + 1), pagerClick);
        </text>
         }

        @if (Model.SetsTotal > 0)
        {
        <text>
        loadData(1);
        </text>
        }

        var ratingWidget = $('div.data_table__filtr-rate');
        generateRatingWidgetFor(ratingWidget, 1, @Model.RatingWidgetVM.Value, @Model.RatingWidgetVM.IsReadonly.ToString().ToLowerInvariant(), onRatingSet);
    });


    function pagerClick(atag){
        var _page = atag.data('page-num');
        loadData(_page);
    }

    function onRatingSet(event, value){
        window.location = '@Url.Action("Sets", (isAgency ? "Agency" : "Category"))' + '?rating=' + value;
    }


    function loadData(_page) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Load", isAgency ? "Agency" : "Category")',
            data: { id: '@Model.SidebarVM.Current.Id', page: _page, rating: @Model.RatingWidgetVM.Value },
            dataType: "json"
        }).always(function(data) {
            var table = $("#sets");
            table.empty();

            var items_perPage = @(Common.Configuration.Base.ItemsPerPage);

            data.forEach(function (item, i) {
                var tr = $('<tr data-key="' + item.Id + '"></tr>');

                var td_num = $('<td class="td-number"></td>');
                td_num.text(items_perPage * (_page - 1) + i + 1 );

                var td_name = $('<td class="td-name"></td>');
                
                var a_name = $('<a href="/' + item.Id + '" title="Просмотреть данные набора" > </a>"');;

                a_name.text(item.Name);

                var actions = $('<div class="actions"><a class="actions__item i-qr js-qr" title="QR-код с сылкой на набор" data-key="' + item.Id + '"></a></div>');

                td_name.append(a_name);
                td_name.append(actions);

                var td_desc = $('<td class="td-desc"></td>');
                td_desc.text(item.Description);

                tr.append(td_num);
                tr.append(td_name);
                tr.append(td_desc);

                @if (isAgency)
                {
                    <text>
                var td_cat = $('<td class="td-cat"></td>');
                td_cat.text(item.Category);
                tr.append(td_cat);
                    </text>
                }
                else
                {
                    <text>
                var td_agency = $('<td class="td-agent"></td>');
                var ul = $('<ul></ul>');

                var td_agency_sets = $('<td class="td-agent"></td>');
                var ul_sets = $('<ul></ul>');

                item.Agencies.forEach(function(agency, j){
                    var li = $('<li></li>');
                    var li_sets = $('<li></li>');

                    var a_agency = $('<a href="/agency/' + agency.AgencyId + '">' + agency.Name + '</a>');
                    var a_agency_set = $('<a href="/' + agency.SetId + '" title="Просмотреть данные набора от поставщика ' + agency.Name + '">'+agency.SetTitle+'</a>');
                    
                    li_sets.html(a_agency_set);
                    ul_sets.html(li_sets);

                    li.html(a_agency);
                    ul.html(li);
                });

                td_agency.html(ul);
                td_agency_sets.html(ul_sets);

                tr.append(td_agency);
                //tr.append(td_agency_sets);
                    </text>
                }

                var td_download = $('<td class="td-download">' + createDownloadButton(item.Id, item.VersId, item.StructId) + '</td>');
                tr.append(td_download);

                //var td_api = $('<td class="td-api"><a href="#" class="api_btn min_button"><span></span></a></td>');
                //tr.append(td_api);
                
                var td_viewed = $('<td class="td-views"><span>' + item.Viewed + '</span></td>');
                tr.append(td_viewed);

                var td_rate = $('<td class="td-rate"><span>' + item.AverageRating.toFixed(2) + '</span></td>');
                tr.append(td_rate);

                table.append(tr);
            });

            $('.js-dropdown').on('mouseenter', function () {
                $(this).addClass('dropdown-is-active').find('.dropdown__sub').fadeIn(0);
            }).on('mouseleave', function () {
                $(this).removeClass('dropdown-is-active').find('.dropdown__sub').fadeOut(0);
            });

            $('.api_btn').on('click', oDataKrdReg.domEvents.showApiPopup);
            $('.ind_api_btn').on('click', oDataKrdReg.domEvents.showApiPopup);

            $('.i-qr').on('click', function(){getQRcode($(this));});

        });
    }


    function createDownloadButton(id, verCode, structCode){
        var button_html = $("#download_button_template").html();

        @if (isAgency)
        {
            <text>
        var idRegExp = new RegExp(/@(Common.Constants.RegExps.SetIdentifier)/gi);
        var verRegExp = new RegExp(/@(Common.Constants.Watermarks.VersionCode)/gi);
        var structRegExp = new RegExp(/@(Common.Constants.Watermarks.StructureCode)/gi);
        button_html = button_html.replace(verRegExp, verCode);
        button_html = button_html.replace(structRegExp, structCode);
            </text>
        }
        else
        {
            <text>
        var idRegExp = new RegExp(/@(Common.Constants.RegExps.Guid)/gi);
            </text>
        }

        button_html = button_html.replace(idRegExp, id);

        return button_html;
    }
</script>
