﻿@model UI.Models.StatusVM

@{
    ViewBag.Title = Model.Title;
}

@Scripts.Render("~/scripts/plugins/tabs")
@Styles.Render("~/styles/jquery-ui")

<div class="content">
    <div>
        @Html.Partial("~/Views/Partial/Selector/Topbar.cshtml", Model.TopbarVM)
    </div>
    <div class="b-tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
            <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-added" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
                <a id="ui-id-1" class="ui-tabs-anchor" href="#tabs-added" role="presentation" tabindex="-1">Добавленные</a>
            </li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-updated" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
                <a id="ui-id-2" class="ui-tabs-anchor" href="#tabs-updated" role="presentation" tabindex="-1">Обновленные</a>
            </li>
        </ul>

        <div id="tabs-added" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
            <div class="data_table">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата создания</th>
                            <th>Наименование</th>
                            <th>Описание</th>
                            <th>Категория</th>
                            <th>Поставщик</th>
                            <th>Актуален до</th>
                        </tr>
                    </thead>
                    <tbody id="table_added">
                        @if (Model.AddedItems.Count() == 0)
                        {
                            <tr>
                                <td colspan="7">Данные отсутствуют</td>
                            </tr>
                        }
                        else
                        {
                            int i = 1;
                            foreach (var item in Model.AddedItems)
                            {
                            <tr>
                                <td>@i</td>
                                <td>@item.CreationDate.ToShortDateString()</td>
                                <td>@Html.ActionLink(item.Name, "View", "Set", new { setVer = item.Id }, new { title = "Просмотреть данные всех поставщиков" })</td>
                                <td>@item.Description</td>
                                <td>@item.Category</td>
                                <td>
                                    <ul>
                                        @foreach (var agency in item.Agencies)
                                        {
                                            <li>
                                                @Html.ActionLink(agency.Name, "Sets", "Agency", new { id = agency.AgencyId }, null);
                                            </li>
                                        }
                                    </ul>
                                </td>
                                <td></td>
                            </tr>
                                        ++i;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div id="tabs-updated" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-2" role="tabpanel" style="display: none;" aria-hidden="true">
            <div class="data_table">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата последнего изменения</th>
                            <th>Наименование</th>
                            <th>Описание</th>
                            <th>Категория</th>
                            <th>Поставщик</th>
                            <th>Актуален до</th>
                        </tr>
                    </thead>
                    <tbody id="table_modified">
                        @if (Model.ModifiedItems.Count() == 0)
                        {
                            <tr>
                                <td colspan="7">Данные отсутствуют</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('.b-tabs').tabs();
    });
</script>
