﻿html {
    height: 100%;
}

body {
    color: #333c40;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 auto;
    min-height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}

.gerb {
    /*background: url('../Images/app/gerb.png') no-repeat 0 0;*/
    bottom: 15px;
    height: 312px;
    left: 50%;
    margin: 0 0 0 -160px;
    position: absolute;
    width: 308px;
}

body input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    color: #006699;
    text-decoration: underline;
}

    a:visited:hover,
    a:hover {
        text-decoration: none;
    }

    TEXTAREA:focus,
    INPUT:focus,
    A:focus {
        outline: none;
    }

::-webkit-input-placeholder { /* для webkit браузеров */
    color: #9da6a9!important;
}

::-moz-placeholder { /* для браузеров mozilla */
    color: #9da6a9!important;
}

:-moz-placeholder { /* для браузеров mozilla */
    color: #9da6a9!important;
}

:-ms-input-placeholder {
    color: #9da6a9!important;
}

.placeholder {
    color: #9da6a9!important;
    font-style: italic!important;
    line-height: 26px;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 15px;
    padding: 0 140px 0 0;
    text-transform: uppercase;
    color: #000;
    line-height: 1.2em;
}
@media all and (max-width: 768px) {
	h1 { font-size: 26px; }
}
.text h1{
    margin-bottom: 0.5em;
}

h2 {
    clear: both;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 10px;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 10px;
}

p {
    font-size: 100%;
    padding: 0 0 16px;
}
code{
    margin: 0 0 1em 0;
    display: block;
}

.marked-text {
    font-weight: bold;
}

.bullet {
    vertical-align: middle;
}

strong, b {
    font-weight: bold;
}

.wrapper {
    padding: 0 0 130px;
}
@media all and (max-width: 768px) {
	.wrapper { padding-bottom: 80px; }
}
.b-center {
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
}
img {
	max-width: 100%;
	/*background-image: none;
	text-indent: -10000px;*/
}

/*** info_top ***************************************/
.b-info_top {
    background: #e6ebed;
    font-style: italic;
    padding: 22px 0 25px;
    text-align: center;
}

.info_content_wrap {
    background: url('../Images/app/fon_o.png') no-repeat 50% 52px #fff;
    padding: 34px 0 33px;
    text-align: left;
    display: none;
}

    .info_content_wrap .b-center {
        width: 870px;
    }

    .info_content_wrap h3 {
        font-style: normal;
        margin: 0 0 21px;
        text-transform: uppercase;
    }

.b-center > p {
    display: inline-block;
    margin: 0 47px 0 0;
    vertical-align: top;
    width: 350px;
}

.b-info_top > .b-center {
    padding: 22px 0 0;
}

.info_link {
    border-bottom: 1px dashed;
    display: inline-block;
    text-decoration: none;
}

    .info_link:hover {
        border-color: transparent;
    }

.hide_block {
    color: #355a69;
    font-size: 12px;
    position: absolute;
    right: 21px;
    text-decoration: none;
}

    .hide_block:after {
        background: url('../Images/app/sprite.png') no-repeat -30px 0;
        content: "";
        height: 11px;
        position: absolute;
        right: -21px;
        top: 4px;
        width: 7px;
    }
/*** HEADER ***************************************/
.header {
    margin: 0 0 37px;
    padding: 29px 0 0;
    position: relative;
}
@media all and (max-width: 768px) {
	.header {
		margin-top: 15px;
		padding-top: 5px;
	}
}

.right_columns .header,
.one_columns .header {
    padding: 29px 0 24px;
}
/*- form -*/
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="url"]{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: 2px solid #d4d4d4;
    height: 35px;
    line-height: 39px;
    padding: 0 10px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;    
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"]{
    width: 100%;
}
input.small-text { width: 150px; }

textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: 2px solid #d4d4d4;
    padding: 5px 10px;
    resize: none; 
    width: 100%;
    height: 190px;
}
input[type="submit"],
input[type="button"],
input[type="reset"]{
    color: inherit; 
    font: inherit; 
    margin: 0 0.5em 0 0; 
    -webkit-appearance: button; 
    cursor: pointer; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    outline: none;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    border: none;
}
input[type="submit"],
input[type="button"]{
    color: #fff;
    background: #006699;    
}
input[type="submit"]:hover,
input[type="button"]:hover{
    background: #008bd0;
}
.b-form {
    position: relative;
}

    .b-form .row {
        position: relative;
        margin: 0 0 15px;
    }

        .b-form .row input[type="text"]{
            background: #e8e8e8;
            font-size: 14px;
            height: 35px;
            width: 100%;
            padding: 0 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: none;
            font-weight: normal;
            font-family: 'Open Sans', sans-serif;
        }


        .b-form .row textarea {
            background: #e8e8e8;
            font-size: 14px;
            border: none;
            width: 100%;
            height: 125px;
            padding: 5px 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            resize: none;
            font-weight: normal;
            font-family: 'Open Sans', sans-serif;
        }

.button,
.min_button {
	position: relative;
    height: 57px;
    line-height: 55px;
    display: inline-block;
    vertical-align: top;
    min-width: 108px;
    padding: 0 20px;
    font-size: 1.5em;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    /*background: url('../Images/app/btn_sprite.png') repeat-x 0 -60px;*/
    white-space: nowrap;
    overflow: visible;
    background: #006699;
    font-weight: 600;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.min_button {
    background-position: 0 -192px;
    height: 39px;
    line-height: 21px;
    min-width: 0;
    width: 39px;
    padding: 0 0px;
}
.button:hover,
.min_button:hover{
    background-color: #008bd0;
}
.button-sm{
    height: 35px;
    line-height: 35px;
    font-size: 1.1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.min_button_qr span{
    height: 26px;
    width: 26px;
    background: url("../Images/i-qr.png") no-repeat 0 -62px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
}

/*Forms*/
.items {
	font-size:0;
}
.middle-items .item { vertical-align: middle; }
.bottom-items .item { vertical-align: bottom; }
.item {
	display: inline-block;
	vertical-align:top;
	width:100%;
	padding:0;
	position:relative;
	font-size: 1rem;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.item-100 { width:100%; }
.item-80 { width:80%; }
.item-75 { width:75%; }
.item-70 { width:70%; }
.item-66 { width:66.6%; }
.item-60 { width:60%; }
.item-50 { width:50%; }
.item-40 { width:40%; }
.item-35 { width:35%; }
.item-33 { width:33.3%; }
.item-30 { width:30%; }
.item-25 { width:25%; }
.item-20 { width:20%; }
.item-inline { width:auto; }

.form-items {
	margin: 0 0 0 -20px;
}
.form-items > .item {
	padding: 0 0 20px 20px;
}
@media all and (max-width: 768px) {
	.form-items > .item {
		width: 50%;
	}
}
@media all and (max-width: 480px) {
	.form-items > .item {
		width: 100%;
	}
}
.item label {
	margin-bottom: 4px;
	display: block;
}
.align-right { text-align: right; }

/*filter*/
.filter{
    margin: 0em 0 2em 0;
	position: relative;
	min-height: 30px;
}
.filter-inner{
    border:2px solid #c6c6c6;
    padding: 20px 0.5em 20px 20px;
}
.filter-item {
    margin-bottom: 1em;
    display: inline-block;
    margin-right: -3px;
    display: inline-block;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
}
.filter-item--multipple-fields .filter-item-element {
    display: inline-block;
    margin-right: 0.5em;
}
.filter-item label{
    display: inline-block;
    margin-bottom: 0.3em;
    color: #777777
}

/*collapsible*/
.collapsible{
    position: relative;
}
.clp__trigger{
    position:absolute;
    right: -2px;
    bottom: -33px;
    height: 31px;
    line-height: 31px;
    padding: 0 13px;
    background: #eaeaea;
    color: #777777;
    cursor: pointer;
}
.collapsible.is-collapsed {
    padding: 0em;
    border: none;
}
/*- LOGO -*/
.logo {
    float: left;
    margin: 0 0 0 6px;
    position: relative;
    text-decoration: none;
}
@media all and (max-width: 768px) {
	.logo { max-width: 80%; }
}
@media all and (max-width: 480px) {
	.logo { max-width: 70%; }
}
    .logo a {
        display: block;
    }

    .logo img {
        display: block;
    }
	
/*- header-rigth -*/
.b-header-right  {
    float: right;
	margin: 0 0 1em 1em;
}
.h-m-link {
	display: inline-block;
	padding: 10px;
	border: none;
	background-image: none;
	background-color: #006699;
	cursor: pointer;
	white-space: nowrap;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.h-m-link img { display: block; }
.h-m-link:hover {
	background-color: #004466;
}
.h-menu, .h-menu ul {
	list-style: none;
}
.h-menu > li { position: relative; }
.h-menu ul {
	display: none;
	position: absolute;
	top: 100%;
	margin-top: 5px;
	right: 0px;
	padding: 0.8em;
	background-color: #006699;
	z-index: 9;
}
.h-menu ul li {
	display: block;
}
.lnk-button {
    display: inline-block;
    text-transform: uppercase;
    background-color: #f1f1f1;
    text-decoration: none;
    color: #1a7fd2;
    font-size: 16px;
    line-height: 1.4em;
    padding: 0.6em 1.4em;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lnk-button:hover{
    background-color: #dadee0;
}
.lnk-button-application {
    background: url(../Images/i-app.png) no-repeat 25px center #f1f1f1;
    padding-left: 69px;
    width: 280px;
    text-align: left;
}
.w260  {
    width: 260px;
}
.link-back {
    font-size: 1.2em;
    text-decoration: none;
    line-height: 1.2em;
    background: url(../Images/arrow-back.png) no-repeat 0 5px;
    padding-left: 13px;
}
.link-back:hover{
    text-decoration: underline;
}


/*- Поиск -*/
.b-search.b-form {
    float: right;
    margin: 21px 0 0;
    padding: 0;
}

.b-form.b-search .row input[type="text"] {
    margin: 0 5px 0 0;
}

.b-form.b-search .row .button {
    min-width: 50px;
}
/*- Выбор города -*/
.b-city {
    clear: both;
    padding: 0 0 0px 3px;
    text-align: left;
}

    .b-city h2 {
        display: inline-block;
        font-size: 14px;
        font-style: italic;
        margin: 11px 11px 0 0;
        vertical-align: top;
    }

.active_city {
    vertical-align: top;
}

.active_button {
    font-style: italic;
    border: none;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #6a8591; /* Для старых браузров */
    background: -moz-linear-gradient(-225deg, #99acb4, #6a8591); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(-225deg, #99acb4, #6a8591);
    background: -o-linear-gradient(-225deg, #99acb4, #6a8591); /* Opera 11.10+ */
    background: -ms-linear-gradient(-225deg, #99acb4, #6a8591); /* IE10 */
    background: linear-gradient(-225deg, #99acb4, #6a8591); /* CSS3 */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-width: 70%;
    height: auto;
    line-height: 16px;
    padding: 10px 18px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.54);
}

.b-city > a {
    border-bottom: 1px dashed;
    display: inline-block;
    font-style: italic;
    margin: 10px 16px 22px 19px;
    text-decoration: none;
    vertical-align: top;
}

    .b-city > a:hover {
        border-color: transparent;
    }

    .b-city > a.disable {
        border-color: transparent;
        cursor: default;
        color: #99c2ff;
    }

.selection, .active_selection {
    -webkit-box-shadow: 0px 1px 3px #b9b9b9 inset;
    -moz-box-shadow: 0px 1px 3px #b9b9b9 inset;
    box-shadow: 0px 1px 3px #b9b9b9 inset;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    background: #f5f5f5;
    text-align: left;
    /* height: 0; */
    display: none;
    position: relative;
    padding: 5px 5px 5px 14px;
}

    .selection h3, .active_selection h3 {
        text-transform: uppercase;
        color: #94a6ae;
        font-size: 10px;
        padding: 0 0 2px 14px;
    }

    .selection ul, .active_selection ul {
        float: left;
    }

    .selection li, .active_selection li {
        margin: 0 0 1px;
    }

        .selection li a, .active_selection li a {
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            color: #495054;
            display: block;
            padding: 7px 20px 8px 12px;
            text-decoration: none;
        }

            .selection li a.active, .active_selection li a:active,
            .selection li a:hover, .active_selection li a:hover {
                background: #355a69;
                color: #fff;
            }

.select_city {
    display: inline-block;
    margin: 11px 21px 0 0;
    min-width: 135px;
    vertical-align: top;
    overflow: hidden;
}

    .select_city .krai {
        margin-bottom: 10px;
    }

.select_area {
    display: inline-block;
    margin: 11px 0 0;
    vertical-align: top;
    overflow: hidden;
    min-height: 317px;
}

    .select_area > ul {
        margin: 0 13px 0 0;
        max-width: 197px;
    }

.selection .slideUp, .active_selection .slideUp {
    background: url('../Images/app/slideUpwrap.png') no-repeat 0 0;
    display: block;
    font-size: 10px;
    color: #68757a;
    height: 133px;
    padding: 195px 0 0;
    position: absolute;
    right: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    top: 6px;
    width: 98px;
}

.back_link {
    clear: both;
    font-style: italic;
    padding: 27px 0 0;
}
/*** CONTENT ***************************************/
.container {
    clear: both;
    position: relative;
}

.content {
    float: left;
    width: 100%;
}

.one_columns .text {
    padding: 0 0 0 4px;
}

.one_columns .text,
.front .text {
    margin: 0;
}

.text {
    margin: 0 0 0 293px;
    min-height: 1px;
    padding: 0;
}

.right_columns .text {
    margin: 0 395px 0 0;
}

.b-power {
    display: table;
    position: relative;
    width: 100%;
}

.header .b-power {
    clear: both;
    padding: 39px 0 23px;
}

.b-power > li {
    display: table-cell;
    min-width: 100px;
    text-align: center;
}
    .b-power > li:first-child{
        width: 293px;
    }
    .b-power > li a {
        background: #006699;
        height: 34px;
        line-height: 35px;
        padding: 10px 0;
        display: block;
        text-decoration: none;
        color: #fff;
        border-top: 4px solid #006699;
        margin-right: 2px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.2em;

    }
    .b-power > li:last-child a{
        margin-right: 0;
    }

        .b-power > li a:hover {
            font-weight: 600;
        }

        .b-power > li a.active_power {
            background: #fff; 
            height: 34px;
            color: #000;
        }

.b-content_power {
    padding: 0 0 11px;
}

.b-power_item.active {
    display: block;
}

.b-power_item {
    
}
/*- Информационная строка -*/
.content_info {
    color: #929698;
    display: inline-block;
    letter-spacing: -0.5px;
    vertical-align: top;
}

    .content_info > span:first-child {
        margin: 0 31px 0 0px;
    }

    .content_info span {
        margin: 0 31px 0 27px;
    }

.api_btn span, .ind_api_btn span{
    background: url("../Images/app/icon-settings.png") no-repeat center center;
    display: inline-block;
    height: 39px;
    width: 39px;
}
.api_btn:hover span, 
.dropdown-is-active .dropdown__current .api_btn span,
.dropdown-is-active .dropdown__current .ind_api_btn span{
    background-image: url("../Images/app/icon-settings-active.png");
}
.api_btn:hover span:before, 
.ind_api_btn:hover span:before{
    /*
    content: "";
    background-image: url("../Images/app/icon-settings-active.png");
    */
}
.download span{
    background: url("../Images/app/icon-load.png") no-repeat center center;
    display: inline-block;
    height: 39px;
    width: 39px;
}
.download:hover span,
.dropdown-is-active .dropdown__current .download span{
    background-image: url("../Images/app/icon-load-active.png");
}
.download:hover span:before{
    content: "";
    background-image: url("../Images/app/icon-load-active.png");
}
/*- действия набора -*/
.actions{
    margin: 1em 0 0;
}
.actions__item{
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    width: 26px;
    height: 28px;
    margin-right: 10px;
}
.actions__item:hover{
    background-position: 0 bottom;
}
.i-qr {
    height: 26px;
    background-image: url("../Images/i-qr.png");
	position: relative;
}
.i-qr:hover{
    background-position: 0 -31px;
}
.i-map{  
    background-image: url("../Images/i-map.png");
}
.i-comments{
    background-image: url("../Images/i-comments.png");
    width: 32px;
}
/*- Фильтр-меню -*/
.menu_list {
    clear: both;
    margin: 2em 0 74px -8px;
    position: relative;
}

    .menu_list li {
        display: block;
        float: left;
        position: relative;
        width: 33.3%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
		background: #f1f1f1;
    }
	.b-power_list {}
	@media all and (max-width: 768px) {
		.menu_list li {
			width: 50%;
		}
	}
	@media all and (max-width: 480px) {
		.menu_list li {
			width: 100%;
			padding: 0 0 8px;
		}
	}
    .menu_list li:last-child{
    }

        .menu_list li a {         
            /*background: url("../Images/app/btn_sprite.png") repeat-x 0 -113px;*/
            background: #f1f1f1;
            display: table-cell;
            height: 65px;
            padding: 0 0 0 82px;
            position: relative;
            vertical-align: middle;
            font-size: 18px;
            line-height: 18px;
            color: #000000;
            text-decoration: none;
            width: 400px;
        }
         .menu_list li a:hover{
            background-color: #dadee0;
         }
        .menu_list li a span.inner{

        }

.icon_menu {
    background: url("../Images/app/sprite.png") no-repeat 0 -60px;
    display: block;
    height: 60px;
    left: 6px;
    position: absolute;
    top: 5px;
    width: 60px;
}

    .icon_menu.business {
        background-position: -60px -63px;
    }

    .icon_menu.nomocracy {
        background-position: -120px -61px;
    }

    .icon_menu.social_maintenance {
        background-position: -180px -63px;
    }

    .icon_menu.sport {
        background-position: 0px -123px;
    }

    .icon_menu.education {
        background-position: -60px -123px;
    }

    .icon_menu.local_self_government {
        background-position: -120px -123px;
    }

    .icon_menu.youth {
        background-position: -178px -122px;
    }

    .icon_menu.government {
        background-position: 0px -180px;
    }

    .icon_menu.transport {
        background-position: -61px -184px;
    }

    .icon_menu.relations {
        background-position: -123px -183px;
    }

    .icon_menu.illegal_building {
        background-position: -180px -182px;
    }

    .icon_menu.finance {
        background-position: 0px -243px;
    }

    .icon_menu.public_utility {
        background-position: -57px -243px;
    }

    .icon_menu.mup_medicine {
        background-position: -182px -239px;
    }

    .icon_menu.mup_tourism {
        background-position: -123px -242px;
    }

    .icon_menu.mup_finance {
        background-position: -5px -299px;
    }

    .icon_menu.mup_education {
        background-position: -60px -299px;
    }

    .icon_menu.mup_culture {
        background-position: -180px -300px;
    }

    .icon_menu.mup_work {
        background-position: -120px -302px;
    }

.content .b-power_list .menu_list li {
    padding: 0 8px 8px 0;
	background: none;
}
.content .b-power_list .menu_list li:hover{
    /*background: #dadee0;*/
}

    .b-power_list .menu_list li a {
        font-size: 14px;
        height: 62px;
        letter-spacing: -0.4px;
        line-height: 15px;
        padding: 3px 10px 0 69px;
    }
    .b-power_list .menu_list li:hover a{
        background-color: #dadee0;
    }
    @media screen and (max-width: 1000px) { 
        .b-power_list .menu_list li a{
           font-size: 12px; 
        }      
    }

.b-or {
    position: relative;
    margin: 0 0 86px;
    border-top: 1px dashed #c2cdd2;
}

    .b-or span {
        background: #fff;
        font-style: italic;
        left: 45%;
        padding: 1px 34px;
        position: absolute;
        top: -11px;
    }

.all_download {
    min-height: 326px;
    text-align: center;
    position: relative;
}

    .all_download .download {
        font-size: 14px;
        font-style: italic;
        vertical-align: middle;
    }

        .all_download .download span {
            border-right: 1px solid #dcdcdc;
            margin: 0 10px 0 0;
            padding: 0 5px 0 0;
            vertical-align: middle;
        }

.rss {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #7a797c;
}

    .rss a {
        text-decoration: none;
        color: #7a797c;
        position: relative;
    }

        .rss a:before {
            background: url('../Images/app/sprite.png') no-repeat -120px 0;
            content: "";
            position: absolute;
            top: 2px;
            left: -23px;
            height: 12px;
            width: 12px;
        }

.b-tips {
    background: url("../Images/app/slideTop.png") no-repeat 0 0;
    color: #355A69;
    font-size: 24px;
    font-style: italic;
    line-height: 28px;
    margin: 66px 0 0 139px;
    min-height: 300px;
    padding: 13px 0 0 96px;
    text-align: center;
    width: 500px;
}
/*- второй уровень -*/
.data_amount {
    float: right;
    text-align: right;
    padding: 5px 14px;
    background: #f1f1f1;
    color: #777777;
    margin: 10px 0 0 0;
}

.data_discription {
    margin: 0 0 22px;
}

    .data_discription p {
        display: inline-block;
        font-style: italic;
        padding: 0;
        vertical-align: bottom;
        width: 475px;
    }

    .data_discription .b-my_list {
        float: none;
        display: inline-block;
        margin: 0 0 -7px;
        vertical-align: bottom;
    }
/* мею наборов*/
.menu-sets {
    overflow: hidden;
    margin: 0 0 2em 0;
}
.menu-sets li {
	display: block;
	float: left;
	width: 25%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 5px;
	margin-bottom: 4px
}
@media all and (max-width: 768px) {
	.menu-sets li {
		width: 50%;
	}
}
@media all and (max-width: 480px) {
	.menu-sets li {
		width: 100%;
	}
}
.menu-sets li a{
    /*float: left;*/
	width: 100%;
	display: block;
    background: #006699;
    color: #fff;
    padding: 0.7em 1.5em;
    font-size: 16px;
    text-decoration: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.menu-sets li a:hover{
    background: #008bd0;
}
.menu-sets li a.active_power,
.menu-sets li a.active_power:hover{
    background: #f1f1f1;
    color: #1a7fd2;
    font-weight: bold;
}
/*- table -*/
table {
    width: 100%;
}
    table caption{
        font-size: 1.3em;
        font-weight: bold;
        text-align: left;
        line-height: 1.2em;
        margin: 1.5em 0;
    }
    table tr th:first-child {
        padding: 9px 13px 9px 21px;
    }
    table th {
        background: #e2e2e2;
        color: #000;
        font-size: 12px;
        padding: 9px 13px 9px 11px;
        text-align: left;
        vertical-align: middle;
        text-transform: uppercase;
        border: 1px solid #f1f1f1;
        text-align: center;
    }

    table tr:hover td {
        background: #f1f1f1;
    }

    table tr td:first-child {
        padding: 12px 13px 6px 21px;
    }

    table td {
        border-bottom: 2px solid #d6d8d9;
        padding: 12px 13px 6px 11px;
        vertical-align: top;
    }

        table td a {
            font-style: normal;
        }
        .ui-widget-content table td a{
            color: #006699;
        }

        table td.nopadding {
            padding: 12px 5px 6px 0;
            text-align: center;
        }
		table .nopadding img { max-width: none; }

        table td .download {
            width: 39px;
        }
        .td-number, 
        .td-name,
        .td-views,
        .td-rate,
        .td-download,
        .td-api{
            vertical-align: middle;
        }
        .td-download,
        .td-views,
        .td-rate{
            text-align: center;
        }
        table table tr:last-child td{
            border-bottom: none; 
        }
/*- level 3 -*/
.b-data_provider.authorized_user {
    margin: 0 0 31px;
    padding: 25px 0 0 1px;
    text-align: left;
}

.authorized_city {
    border-right: 2px solid #a4b5bb;
    display: inline-block;
    height: 35px;
    margin: 0 13px 0 7px;
    padding: 0 18px 0 0;
}

    .authorized_city li {
        float: left;
        font-size: 16px;
        font-style: italic;
        height: 36px;
        line-height: 35px;
        margin: 0 -6px 0 -6px;
    }

        .authorized_city li a:hover {
            border-color: transparent;
        }

        .authorized_city li a {
            border-bottom: 1px dashed;
            margin: 0 18px;
            text-decoration: none;
        }

            .authorized_city li a.active_button {
                margin: 0;
                border: none;
            }

.one_columns .data_discription_in {
    padding: 0 400px 21px 0;
}

.data_discription_in {
    border-bottom: 1px solid #d6d8d9;
    font-style: italic;
    margin: 0 0 26px;
    padding: 0 0 36px;
}

.breadcrumbs {
    vertical-align: top;
    margin-right: 150px;
    line-height: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

    .breadcrumbs a:first-child {
        margin-left: 0;
    }

    .breadcrumbs a,
    .breadcrumbs span {
        margin: 0 9px 0 7px;
    }

.b-fast_help {
    float: right;
    margin: -16px 0 8px 7px;
    text-align: right;
    vertical-align: top;
}

    .b-fast_help >  li {
        display: inline-block;
        margin: 0 0 0 2px;
        text-align: center;
        vertical-align: top;
    }

        .b-fast_help > li > span {
            display: block;
            font-size: 12px;
            margin: 0 0 6px;
            text-transform: uppercase;
        }

    .b-fast_help .download {
        text-align: center;
    }
    
    .b-fast_help .popup-qr{
        right: 0;
    }


.one_columns .tabs_module {
    margin: 31px 0 250px;
}

.tabs_module {
    margin: 14px 0 0;
}

.module_title li {
    display: inline-block;
    margin: 0 2px 0 0;
    vertical-align: middle;
}

    .module_title li a {
        border-bottom: 1px dashed;
        font-size: 16px;
        font-style: italic;
        margin: 0 23px;
        text-decoration: none;
    }

        .module_title li a:hover {
            border-color: transparent;
        }

        .module_title li a.active_button {
            margin: 0;
            padding: 10px 23px;
            border-bottom: none;
        }

.module_title {
    margin: 0 0 16px;
}

.module_item:first-child {
    display: block;
}

.module_item {
    display: none;
}

    .module_item .fast_search.b-form {
        padding: 0;
    }

    .module_item .b-form .row input[type="text"] {
        width: 658px;
    }

/*
.settings {
    border-left: 1px solid #53646b;
    padding: 0;
    text-align: center;
}

    .settings a {
        border-left: 1px solid #859ba4;
        display: block;
        height: 34px;
        width: 38px;
    }

    .settings span {
        background: url('../Images/app/sprite.png') no-repeat -170px 6px;
        display: block;
        height: 100%;
        width: 100%;
    }
*/

.module_item table td a {
    text-decoration: none;
}

.b-address, .b-phone {
    line-height: 18px;
    margin: 0 0 12px;
}

    .b-address > p, .b-phone > p {
        padding: 0;
    }

    .b-address > a {
        font-style: italic;
        border-bottom: 1px dashed;
    }

        .b-address > a:hover {
            border-color: transparent;
        }

    .b-address > span, .b-phone > span {
        color: #8f8f8f;
    }
    .b-address > p,
    .b-phone > p{
        display: inline;
    }

.map {
    width: 685px;
    height: 600px;
    padding: 7px 0 0;
    text-align: center;
}

    .map.for_organization {
        width: 934px;
        height: 800px;
    }

.b-fast_help .b-my_list {
    margin: 1px 35px 0 0;
    text-align: center;
    width: 100px;
}

.b-work_time {
    margin: 3px -2px 9px 0;
    text-align: right;
}

    .b-work_time > span {
        display: inline-block;
        padding: 5px 0;
        vertical-align: middle;
        width: 92px;
    }

        .b-work_time > span.head_time {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: #227aff;
            color: #fff;
            padding: 5px 10px;
            width: auto;
        }


.tr-deps {
    background: none repeat scroll 0 0 #F5F5F5;
    font-style: normal;
}
table .tr-deps td,
table .tr-deps td:first-child{
    font-style: normal;
    padding: 12px 13px 12px 21px;
}

.b-emp table td{
    font-style: normal;
}
.b-emp thead{
    font-weight: bold;
}
.b-emp h2{
    margin: 2em 0 1em 0;
    font-size: 150%;
}


/*** SIDEBAR ***************************************/
.sidebar.left {
    float: left;
    margin-left: -100%;
    padding: 3px 0 0 3px;
    position: relative;
    z-index: 100;
    width: 260px;
}

    .sidebar.left > span {
        display: block;
        font-style: italic;
        padding: 0 0 21px 10px;
    }

    .sidebar.left .menu_list {
        margin: 0;
    }

        .sidebar.left .menu_list li {
            margin: 0 0 9px;
            display: block;
        }

            .sidebar.left .menu_list li a {
                border: 2px solid transparent;
                font-size: 16px;
                height: 41px;
                padding: 0 0 0 36px;
                width: 204px;
                background: none;
            }

    .sidebar.left .b-power_list.menu_list li {
        width: 100%;
    }
    .sidebar.left .b-power_list.menu_list li a {
        font-size: 0.9em;
        line-height: 14px;
        padding: 2px 3px 2px 55px;
    
        position: static;
    }

.sidebar .b-power_list .icon_menu {
    left: 8px;
}

.sidebar .icon_menu {
    height: 30px;
    left: 4px;
    top: 50%;
    width: 30px;
    background: none;
    margin-top: -20px;
    position: absolute;
    padding-top: 0 !important;
}
.sidebar .icon_menu img{
    
}

    .sidebar .icon_menu.health {
        background-position: -240px -59px;
    }

    .sidebar .icon_menu.social_maintenance {
        background-position: -273px -60px;
    }

    .sidebar .icon_menu.local_self_government {
        background-position: -243px -92px;
    }

    .sidebar .icon_menu.transport {
        background-position: -273px -89px;
    }

    .sidebar .icon_menu.nomocracy {
        background-position: -243px -120px;
    }

    .sidebar .icon_menu.education {
        background-position: -273px -120px;
    }

    .sidebar .icon_menu.government {
        background-position: -243px -148px;
    }

    .sidebar .icon_menu.finance {
        background-position: -273px -150px;
    }

    .sidebar .icon_menu.business {
        background-position: -243px -181px;
    }

    .sidebar .icon_menu.sport {
        background-position: -273px -180px;
    }

    .sidebar .icon_menu.youth {
        background-position: -243px -211px;
    }

    .sidebar .icon_menu.relations {
        background-position: -273px -210px;
    }

    .sidebar .icon_menu.illegal_building {
        background-position: -243px -238px;
    }

    .sidebar .icon_menu.public_utility {
        background-position: -273px -240px;
    }

    .sidebar .icon_menu.mup_medicine {
        background-position: -240px -270px;
    }

    .sidebar .icon_menu.mup_tourism {
        background-position: -270px -270px;
    }

    .sidebar .icon_menu.mup_finance {
        background-position: -300px -270px;
    }

    .sidebar .icon_menu.mup_education {
        background-position: -240px -300px;
    }

    .sidebar .icon_menu.mup_culture {
        background-position: -300px -300px;
    }

    .sidebar .icon_menu.mup_work {
        background-position: -270px -300px;
    }

.sidebar li.active .icon_menu.health {
    background-position: -300px -59px;
}

.sidebar li.active .icon_menu.social_maintenance {
    background-position: -333px -60px;
}

.sidebar li.active .icon_menu.local_self_government {
    background-position: -303px -92px;
}

.sidebar li.active .icon_menu.transport {
    background-position: -333px -89px;
}

.sidebar li.active .icon_menu.nomocracy {
    background-position: -303px -120px;
}

.sidebar li.active .icon_menu.education {
    background-position: -333px -120px;
}

.sidebar li.active .icon_menu.government {
    background-position: -303px -148px;
}

.sidebar li.active .icon_menu.finance {
    background-position: -333px -150px;
}

.sidebar li.active .icon_menu.business {
    background-position: -303px -181px;
}

.sidebar li.active .icon_menu.sport {
    background-position: -333px -180px;
}

.sidebar li.active .icon_menu.youth {
    background-position: -303px -211px;
}

.sidebar li.active .icon_menu.relations {
    background-position: -333px -210px;
}

.sidebar li.active .icon_menu.illegal_building {
    background-position: -303px -238px;
}

.sidebar li.active .icon_menu.public_utility {
    background-position: -333px -240px;
}

.sidebar.left .menu_list li.active a {
    background-position: 0 0;
    padding: 2px 2px 2px 38px;
    background: none;
    background: #fff;
    border: 2px solid #e2e2e2;
}

.sidebar.left .menu_list li a:hover {
    background-color: #dadee0;
}

.sidebar.left .b-power_list.menu_list li.active a {
    padding: 4px 2px 4px 57px;
}

.sidebar.right {
    float: right;
    margin-left: -350px;
    position: relative;
    z-index: 1;
    width: 350px;
    padding: 3.6em 0 0 0;
}

    .sidebar.right > h3 {
        font-size: 24px;
        margin: 0 0 24px;
        text-transform: uppercase;
        color: #355a69;
    }
    .sidebar.right > .b-bg{
        margin-top: 0;
    }

.submenu_right {
    font-style: italic;
    margin: 0 0 16px;
}

.sidebar.right > .b-portal {
    padding: 0 0 38px;
}

.b_smi {
    font-style: italic;
    margin: -7px 0 19px;
}

    .b_smi > a {
        display: inline-block;
        margin: 0 0 12px;
    }

.b_video {
    margin: 0 0 40px;
}

.b_for_smi {

}

    .b_for_smi > p {
        padding: 0 0 3px;
    }

    .b_for_smi li {
        display: inline-block;
        margin: 0 11px 0 0;
    }
/*** FOOTER ***************************************/
.footer {

    font-size: 100%;
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 0;
    height: 105px;

}
.footer .b-center { padding-bottom: 1.5em; }
.footer-menu {
    float: left;
    margin: 40px 0 0 35px;
}

    .footer-menu ul {
        padding: 0 0 0;
    }

    .footer-menu li {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px 0 0px;
    }
    .footer-menu li:last-child{
        margin-right: 0;
    }
    .footer-menu li a{
        color: #006699;
        text-decoration: none;
    }
    .footer-menu li a:hover{
        text-decoration: underline;
    }

.logo_min {
    background: url('../Images/app/logo_min.png') no-repeat 0 0;
    display: inline;
    float: left;
    height: 38px;
}

.copyright {
    float: left;
    margin: 40px 0 0;
    font-size: 0.9em;
}

.b-feedback {
    float: right;
    margin: 25px 0 0 1em;
    text-align: right;
    vertical-align: left;
    overflow: hidden;
}

    .b-feedback > a {
        display: inline-block;
        text-decoration: none;
        position: relative;
        color: #000;
		height: 50px;
		width: 50px;
		font-size: 0;
		vertical-align: middle
    }

        .b-feedback > a:hover {
			background-color: #006699;
        }
        .b-feedback .lnk-feedback {
            background: url('../Images/app/icon-mail.png') no-repeat center center #008bd0;
        }
        .b-feedback .lnk-up {
            background: url('../Images/app/icon-top.png') no-repeat center center #008bd0;
        }

.b-popup {
    padding: 30px 30px 14px;
    display: block;
    width: 492px;
    color: #333C40;
}


.b-form .row {
    margin: 0 0 17px;
}

.b-form .row .ui-selectmenu-button{
    width: 100%;
}
.b-form .row select{
    width: 350px;
}

.b-popup h3 {
    margin: 0 0 35px;
    font-size: 2.2em;
    text-transform: uppercase;
    border-bottom: 2px solid #006699;
}

.b-popup a {
    color: #0066ff;
}

.row label {
    display: block;
    margin: 0 0 4px 0;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.popup_feedback.closed {
    display: none;
    z-index: 1;
}

.popup_feedback {
    display: block;
    position: absolute;
    top: -650px;
    left: 50%;
    z-index: 101;
    background-color: #FFF;
    text-align: left;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

    .popup_feedback form, .popup_feedback h3 {
        z-index: 101;

    }

    .popup_feedback .close_feedback {
        position: absolute;
        display: inline-block;
        width: 49px;
        height: 49px;
        text-align: center;
        line-height: 1.6em;
        top: 0;
        left: 100%;
        margin-left: 4px;
        cursor: pointer;
        font-size: 0.9em;
        font-weight: bold;
        background: url('../Images/app/close.png') no-repeat center center #fff;
        text-indent: -9999px;
    }

.popup_api_custom {
    position: absolute;
    top: 30%;
    left: 50%;
    display: none;
    z-index: 101;
    background-color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    width: 650px;
    margin-left: -325px;
}

.api_body {
    padding: 0 0.5em;
}

.popup_api_custom h3 {
    color: #fff;
    line-height: 1.3em;
    background: #006699;
    padding: 0 0.5em;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
}

.popup_api_custom .close_api {
    cursor: pointer;
    position: absolute;
    top: 0;
    display: iblock;
    background-color: white;
    text-align: center;
    left: 100%;
    margin-left: 4px;
    width: 40px;
    height: 40px;
    background: url("../Images/app/close.png") no-repeat scroll center center #fff;
    text-indent: -2000px;
}

.haze {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}
/*
    * For IE 6/7 only
    * Include this rule to trigger hasLayout and contain floats.
    */
.clearfix {
    *zoom: 1;
}

.ie7 .sidebar.left .menu_list li a {
    width: 199px;
}

.ie7 .menu_list li a,
.ie7 .info_link,
.ie7 .button,
.ie7 .min_button,
.ie7 .b-data_provider h2,
.ie7 .active_button,
.ie7 .b-data_provider > a,
.ie7 .select_city,
.ie7 .select_area,
.ie7 .content_info,
.ie7 .my_list,
.ie7 .discript_link,
.ie7 .download span,
.ie7 .add_list span,
.ie7 .api_btn span,
.ie7 .ind_api_btn span,
.ie7 .menu_list li,
.ie7 .data_discription p,
.ie7 .data_discription .b-my_list,
.ie7 .authorized_city,
.ie7 .breadcrumbs,
.ie7 .b-fast_help,
.ie7 .b-fast_help li,
.ie7 .module_title li,
.ie7 .b-work_time > span,
.ie7 .footer_menu li,
.ie7 .b-feedback > a {
    display: inline;
    zoom: 1;
}
.menu_list__extended .icon_menu
{
    background: none;
    padding-top: 8px;
    text-align: center;
}
.menu_list__extended .icon_menu img
{
    max-width: 40px;
}
p.error-message {
    margin: 5px 0 5px 102px;
    color: red;
    font-size: 0.8em;
    display: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.b-form .row.error{
    color: red;
}
.b-form .row.error p.error-message {
    display: block;
}
.b-form .row.error input,
.b-form .row.error textarea{
    border-color: red;
}
.big_buttons_menu {
    margin-bottom: 47px;
}
#form0{
    margin: 15px 0px;
}
.pager {
    margin: 7px 0;
}
.pager a{
    margin: 0 4px;
}
.pager a.selected{
    text-decoration: none;
    padding: 2px 4px;
    border: 2px solid #e2e2e2;
    color: #000;
}
.pager span{
 
}
.pager span.group{
    font-size: 1em;
}
.pager input[type='button']{
    background: none;
    border: none;
    position: relative;
    color: #0066ff;
    margin: 0 5px;
    cursor: pointer;
}
.pager .group{
    /*
    display: inline-block;
    width: 317px;
    text-align: center;
    */
}
.data_table td{
    padding: 17px 11px;
    line-height: 1.5em;
}
.data_table th,
.data_table th:first-child{
    padding: 10px 11px;
    font-size: 0.9em;
    vertical-align: middle;
    text-align: center;
}
.data_table .td-number {
    font-size: 0.9em;
    padding: 17px 11px;
}
.module_item .b-address,
.module_item .b-phone{
    padding: 0.5em 0;
    margin: 0.5em 0;
}
.module_item .b-address + .b-phone,
.module_item .b-phone + .b-phone  {
    border-top: 2px solid #d6d8d9;
}
.text-default {
    color: #474747;
    line-height: 1.5em;
}
.highlighted {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color: #000;
    line-height: 1.5em;
}
.b-column {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-column__left {
    padding-right: 5%;
}

.text-default h3,
.text-default h4,
.text-default h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}
.text-default h2{
    font-size: 1.5em;
    margin: 1em 0;
}
.text-default h3 {
    font-size: 1.3em;
    margin: 1em 0;
}
.text-default ul li{
    margin: 0.5em;
}
.text-default table{
    margin: 1.0em 0;
}
.ul-extended {
    padding: 0;
    margin: 0 0 0 30px;
}
.ul-extended li{
    margin: 1em 0;
    padding: 0;
    position: relative;
}
.ul-extended li:before{
    content: "";
    position: absolute;
    width: 17px;
    height: 12px;
    background: url("../Images/app/arrow-big.png") no-repeat 0 0;
    right: 100%;
    margin-right: 13px;
    top: 0.2em;
}
.ul-marker {
    margin: 0 0 0 20px;
}
.ul-marker li {
    position: relative;
    margin: 0.3em 0;
}
.ul-marker li:before{
    content: "";
    position: absolute;
    width: 13px;
    height: 9px;
    background: url("../Images/app/arrow-small.png") no-repeat 0 0;
    right: 100%;
    margin-right: 6px;
    top: 0.2em;
}
.b-bg{
    background: #e8e8e8;
    padding: 0.6em 0.9em;
    margin: 1.5em 0;
    color: #474747;
}
.b-bg h2,
.b-bg h3,
.b-bg h4{
    margin: 0;
    color: #000;
    line-height: 1.5em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}
.ul-extended + .b-bg{
    margin-top: 1.5em;
}
.b-bg + .b-bg {
    margin-top: 2em;
}
.b-bg .b-content{
    margin-top: 1em;
    
}
.b-bg .b-content a{
    font-style: normal !important;
}
.b-bg__video h3{
     padding: 0.6em 0.9em;
}
.b-bg__video{
    padding: 0;
}
.b-bg__video .b-content{
    margin-top: 0;
}
.b-bg__video .b-content img{
    width: 100%;
}
.data_table__filtr{
    padding: 12px 0;
}
.data_table__filtr-format {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding:5px 0 0 0 ;
}
  .data_table__filtr-format .item{
    display: inline-block;
    width: 33%;
    margin-right: -3px;
  }
  .data_table__filtr-format .ui-selectmenu-button,
  .data_table__filtr-format input[type="text"] {
    width: 95% !important;
    max-width: 95%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
  }
  .data_table__filtr-format .params-line {
    margin: 0 70px 1.2em 0;
  }
  .data_table__filtr-format .b-fast_help{
    margin-top: -4px;
  }
.data_table__filtr-rate{
    float: right;
    margin: 25px 0 0;
}
.rateit{
    vertical-align: middle;
}
#rating_widget_val {
    font-size: 0.9em;
    opacity: 0.9
}
.data_table__filtr .ui-selectmenu-button {
    vertical-align: middle;
}
.d-ib{
    display: inline-block;
}
.va-m {
    vertical-align: middle;
}
.dropdown{
    position: relative;
    display: inline-block;
    text-align: left;
}
.dropdown-is-active .dropdown__current {
    position: relative;
    z-index: 3;
}
.dropdown-is-active .dropdown__current .min_button{
    background-color: #e2e2e2;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.dropdown--right .dropdown__sub{
    right: 0;
}
.dropdown__sub{
    display: none;
    position: absolute;
    min-width: 320px;
    top: 100%;
    z-index: 2;
}
.dropdown__sub__inner {
    margin: 3px 0 0 0;
    background: #e2e2e2;
    padding: 10px 18px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.b-docs-list {
    color: #000;
    margin: 5px 0;
}
.b-docs-list li{
    margin: 10px 0;
    padding-left: 48px;
    position: relative;
    text-align: left;
}
.b-docs-list .size, 
.b-docs-list .count{
    color: #5e5e5e;
    font-size: 13px;
    display: inline;
}
.b-docs-list .count{
    display: block;
}
.b-docs-list li:before{
    position: absolute;
    width: 34px;
    height: 21px;
    line-height: 21px;
    color: #fff;
    content: "";
    background: #d1d1d1;
    left: 0;
    top: -2px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
}
.b-docs-list li.doc:before{
    content: "doc";
    background: #194ea1;
}
.b-docs-list li.pdf:before{
    content: "pdf";
    background: #f24841;
}
.b-docs-list li.xlsx:before{
    content: "xlsx";
    background: #194ea1;
}
.b-docs-list li.txt:before{
    content: "txt";
    background: #00b29c;
}
.b-docs-list li.xls:before{
    content: "xls";
    background: #118042;
}
.b-docs-list li.xml:before{
    content: "xml";
    background: #118042;
}
.b-docs-list li.zip:before{
    content: "zip";
    background: #f98e3c;
}
.b-docs-list li.csv:before{
    content: "csv";
    color: #000;
}
.b-docs-list li.json:before{
    content: "json";
    background: #f24841;
}
.b-docs-list__no-labels li{
    padding-left: 0;
}
.b-docs-list__no-labels li:before{
    content: none;
}
.ui-selectmenu-menu {
    
    max-width: 420px
}
.ui-selectmenu-menu .ui-menu {
    max-height: 400px;
    border-top: 2px solid #d4d4d4;
}
/*tabs*/
.b-tabs {
        border: none;
        background: none;
        padding: 0;
    }
    .ui-tabs .ui-tabs-nav {
        padding: 0;
        border: none;
        background: none;
    }
    .td-date{
        vertical-align: middle;
    }
    .ui-tabs .ui-tabs-panel {
        padding: 15px 0 0 0;
    }
    .ui-tabs .ui-tabs-nav li{
        border: none;
        background: #006699;
        padding: 0;
        margin: 0 10px 0 0;
    }
    .ui-tabs .ui-tabs-nav li a{
        color: #fff;
        font-size: 1.1em;
        text-transform: uppercase;
    }
    .ui-tabs .ui-tabs-nav li a:hover{
        background: #008bd0;
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        padding: 0;
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active a{
        color: #1a7fd2;        
        background: #f1f1f1;
    }
.b-tabs--grey .ui-tabs-nav li{
    background: #eaeaea;
    border:2px solid #ebebeb;
}
.b-tabs--grey .ui-tabs-nav li a:hover{
    background: #c7c7c7;
}
.b-tabs--grey .ui-tabs-nav li a{
    color: #777777;
}
.b-tabs--grey .ui-tabs-nav li.ui-tabs-active{
   border:2px solid #c6c6c6; 
}
.b-tabs--grey .ui-tabs-nav li.ui-tabs-active a{
    color: #000;
    background: #fff;
}
.b-tabs-vertical .ui-tabs-nav {
    width: 220px;
    float: left;
}
.b-tabs-vertical .ui-tabs-nav li,
.b-tabs-vertical .ui-tabs-nav li.ui-tabs-active{
    white-space: normal;
    margin: 0 0 4px 0;
}
.b-tabs-vertical .ui-tabs-panel{
    margin-left: 225px;
    padding: 0;
}
/*qr*/
.popup-qr {
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
.min_button .popup-qr {
	right: 0;
	left: auto;
}
.qr-img {
    background: #fff;
    padding: 12px;
    border: 1px solid #d6d6d6;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.4);
}
/*set*/
.set .data_table__filtr-rate {
    margin: 0;
}
.set .b-fast_help{
    margin-bottom: 0;
}
.set__line {
    margin-bottom: 1em;
}
.long-table-wrapper {
    max-width: 100%;
    overflow: scroll;
    max-height: 500px;
}
.set__table table tr:hover td{
    background: none;
}
.set__table table > tbody > tr > td:nth-child(1n) {
    background: #fff;
}
.set__table table > tbody > tr > td:nth-child(2n) {
    background: #f1f1f1;
}

.set__table table td{
    /*padding-left: 0;*/
    border-bottom: 1px solid #d6d8d9;
	min-width: 140px;
}
.set__table table table tr:last-child td{
    border-bottom: none;
}
.set__table caption{
    margin: 0;
}
.spl__note{
    margin: 15px 0 0 225px;
    font-size: 0.9em;
}
.set-select {
    min-width: 30%;
    display: inline-block;
}
.set-select .ui-selectmenu-button {
    min-width: 150px;
}
.select-wrapper {
    display: inline-block;
    position: relative;
}
.w150{
    width: 150px;
}
.wa{
    width: auto;
}
.f-right{
    float: right;
}
.va-m{
    vertical-align: middle;
}
.va-m label,
.va-m .ui-selectmenu-button{
    vertical-align: middle;
    display: inline-block;
}