﻿@model UI.Models.Holder<Repository.Entities.Base.AgencyCategoryBase>

<div class="sidebar left">
    <ul class="menu_list b-power_list menu_list__extended">
        @foreach (var item in Model)
        {
            @Html.DisplayFor(x => item, new { currentItemId = Model.Current.Id })
        }
    </ul>
</div>
