﻿@model UI.Models.Holder<KeyValuePair<string, string>>

<div class="menu-sets">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Index", item.Value)"
                    class="@string.Format("{0} {1}Selector", (Model.Current.Equals(item) ? "active_power" : string.Empty), item.Value)">
                    @item.Key
                </a>
            </li>
        }
    </ul>
</div>
