﻿@model UI.Models.DownloadButtonVM

@{
    bool isAgency = Model.Id is string;

    Func<string, string> structUrl = null;
    Func<string, string> metaUrl = null;
    Func<string, string> dataUrl = null;

    if (!isAgency)
    {
        structUrl = x => Url.Action("SetVersionStructure", "File", new { setVerId = Model.Id, format = x });
        dataUrl = x => Url.Action("SetVersionData", "File", new { setVerId = Model.Id, format = x });
    }
    else
    {
        metaUrl = x => Url.Action("Meta", "File", new { setId = Model.Id, format = x });
        structUrl = x => Url.Action("Structure", "File", new { setId = Model.Id, structId = Model.StructId, format = x });
        dataUrl = x => Url.Action("Data", "File", new { setId = Model.Id, versId = Model.VersionId, structId = Model.StructId, format = x });
    }
}

<div class="js-dropdown dropdown dropdown--right">
    <div class="dropdown__current">
        <a href="@dataUrl("xml")" class="download min_button"><span></span></a>
    </div>

    <div class="dropdown__sub">
        <div class="dropdown__sub__inner">
            <div class="b-docs-list">
                <ul>
                    @if ((Model.AvaliableButtons & UI.Models.DownloadButtonVM.Buttons.Meta) == UI.Models.DownloadButtonVM.Buttons.Meta)
                    {
                        
                        @*<li class="xml">
                            <a href="@metaUrl("xml")">СКАЧАТЬ ПАСПОРТ НАБОРА</a>
                            <span class="size">(XML)</span>
                        </li>
                        
                        <li class="json">
                            <a href="@metaUrl("json")">СКАЧАТЬ ПАСПОРТ НАБОРА</a>
                            <span class="size">(JSON)</span>
                        </li>*@
                                
                        <li class="csv">
                            <a href="@metaUrl("csv")">СКАЧАТЬ ПАСПОРТ НАБОРА</a>
                            <span class="size">(CSV)</span>
                        </li>
                                
                        <hr />
                    }

                    @if ((Model.AvaliableButtons & UI.Models.DownloadButtonVM.Buttons.Structure) == UI.Models.DownloadButtonVM.Buttons.Structure)
                    {
                             
                        @*<li class="xml">
                            <a href="@structUrl("xml")">СКАЧАТЬ ПАСПОРТ СТРУКТУРЫ НАБОРА</a>
                            <span class="size">(XML)</span>
                        </li>
                                
                        <li class="json">
                            <a href="@structUrl("json")">СКАЧАТЬ ПАСПОРТ СТРУКТУРЫ НАБОРА</a>
                            <span class="size">(JSON)</span>
                        </li>*@
                        <li class="csv">
                            <a href="@structUrl("csv")">СКАЧАТЬ ПАСПОРТ СТРУКТУРЫ НАБОРА</a>
                            <span class="size">(CSV)</span>
                        </li>

                        <hr />
                    }
                    @if ((Model.AvaliableButtons & UI.Models.DownloadButtonVM.Buttons.Data) == UI.Models.DownloadButtonVM.Buttons.Data)
                    {   
                        @*<li class="xml">
                            <a href="@dataUrl("xml")">СКАЧАТЬ НАБОР</a>
                            <span class="size">(XML)</span>
                        </li>
                                
                        <li class="json">
                            <a href="@dataUrl("json")">СКАЧАТЬ НАБОР</a>
                            <span class="size">(JSON)</span>
                        </li>*@
                                
                        <li class="csv">
                            <a href="@dataUrl("csv")">СКАЧАТЬ НАБОР</a>
                            <span class="size">(CSV)</span>
                        </li>
                    }
                    @*<span class="count">Cкачали: @Model.Downloaded</span>*@
                </ul>
            </div>
        </div>
    </div>
</div>
