﻿<link rel="stylesheet" href="http://openlayers.org/en/v3.17.1/css/ol.css" type="text/css">


<script src="http://openlayers.org/en/v3.17.1/build/ol.js" type="text/javascript"></script>
<div id="map" class="map" style="width:100%; height:600px;"></div>
<script type="text/javascript">

    var markers = [];
    $(function () {

        $('#tabs-map').show();

        var map = new ol.Map({
            target: 'map',
            layers: [
              new ol.layer.Tile({
                  source: new ol.source.OSM()
              })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([38.8759731, 45.0537048]),
                zoom: 11
            })
        });

        $(window).trigger("resize");

        //$('#tabs-map').hide();

        setTimeout(map.updateSize(), 100);

        
    });
</script>
