﻿@model UI.Models.SetViewVM.SetViewParams

@{
    Guid dummy;
    bool isCategoryView = Guid.TryParse(Model.Id.ToString(), out dummy);
}

<div class="set__line set__table long-table-wrapper" id="setContent">
</div>

<script type="text/javascript" src="~/Scripts/app/tableGenerator.js"></script>

<script type="text/javascript">

    var currentDataStructId = '@Model.DataStructureId';
    var setId = '@Model.Id.ToString()';

    $(function () {

        var tableGenerator;

        $.getJSON('@Url.Action("LoadStructure", "Set")',
            { structId: currentDataStructId })
            .success(function (res) {
                tableGenerator = new TableGenerator(res,
                    '@Model.VersionId',
                    @if (isCategoryView)
                    {
                        @:null
                    }
                    else
                    {
                        @:'@Model.Id'
                    }
                    , '@Url.Action("LoadData", "Set")',
                    '@Url.Action("LoadTemplate", "Set")',
                    '@Url.Action("LoadElementsCount", "Set")',
                    '@Url.Action("ProcessFilterQuery", "Set")',
                    markers);

                tableGenerator.Generate($('#setContent'));
            });
    });
</script>

