﻿@model IEnumerable<UI.Models.SetPassportVM>

@{
    bool isMultitable = Model.Count() > 0;
}

@{
}

<div class="set-passorts-list">
    <div class="b-tabs b-tabs-vertical">

        <ul>
            @{ int i = 1;
               foreach (var passport in Model)
               {
                <li>
                    <a href="#tab-@i">
                        <span>@passport.Creator</span>
                    </a>
                </li>
                   i++;
               }
               i = 1;
            }
        </ul>


        @foreach (var passport in Model)
        {
            <div id="tab-@i">
                <table class="passport_table">
                    <tbody>

                        <tr>
                            <th colspan="2">Версия методических рекомендаций</th>
                            <td>@passport.MethodicStandartVersion
                                <span>
                                    @{ 
                                        var vm = new UI.Models.DownloadButtonVM
                                        {
                                            AvaliableButtons = UI.Models.DownloadButtonVM.Buttons.Meta,
                                            Id = passport.Identifier,
                                            StructId = passport.StructCodeName,
                                            VersionId = passport.VersCodeName
                                        };
                                        Html.RenderPartial("~/Views/Partial/DownloadButton.cshtml", vm);
                                    }
                                </span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="2">Идентефикационный номер набора</th>
                            <td>@passport.Identifier</td>
                        </tr>
                        <tr>
                            <th colspan="2">Наименование набора данных</th>
                            <td><a href="~/@passport.Identifier/data-@passport.VersCodeName-structure-@passport.StructCodeName">@passport.Title</a></td>
                        </tr>
                        <tr>
                            <th colspan="2">Описание набора данных</th>
                            <td>@passport.Description</td>
                        </tr>
                        <tr>
                            <th colspan="2">Владелец набора данных</th>
                            <td>@passport.Creator</td>
                        </tr>

                        <tr>
                            <th rowspan="4">Ответственное лицо</th>
                        </tr>
                        <tr>
                            <th>Ф. И. О.</th>
                            <td>@passport.PublisherName</td>
                        </tr>
                        <tr>
                            <th>Телефон</th>
                            <td>@Html.DisplayFor(x => passport.PublisherPhone)</td>
                        </tr>
                        <tr>
                            <th>E-Mail</th>
                            <td>@Html.DisplayFor(x => passport.PublisherMBox)</td>
                        </tr>

                        <tr>
                            <th colspan="2">Дата первой публикации набора</th>
                            <td>@Html.DisplayFor(x => passport.Created)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Дата последнего внесения изменений</th>
                            <td>@Html.DisplayFor(x => passport.Modified)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Ключевые слова, соответствующие содержанию набора</th>
                            <td>@passport.Subject</td>
                        </tr>
                        <tr>
                            <th colspan="2">Актуален до</th>
                            <td>@Html.DisplayFor(x => passport.Valid)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            i++;
        }
    </div>


    @if (i > 2)
    {
        <div class="spl__note">
            Примечание: 
              Для набора может присутствовать несколько паспортов в виду того, что для данного набора предоставляют данные несколько поставщиков
        </div>
    }
</div>
<!-- /set passports list -->
