﻿@model UI.Models.SetVersionsInfoVM


@{
    bool isAgency = Model.Id is string;
}

<script type="text/javascript" src="~/Scripts/plugins/jstree/jstree.js"></script>

<script type="text/javascript">
    $(function () {
        
        $("#jstree").jstree();

        

        $('span', $('#jstree')).on("changed.jstree", function (e, data) {
            alert($(this).html());
        });
    });
</script>


<link rel="stylesheet" href="~/Content/Stylesheets/plugins/jstree/default/style.css" />



@helper CreateVersionNode(UI.Models.SetVersionsInfoVM item, bool isAgency)
{
    <li data-jstree='{ "selected" : @item.IsCurrent.ToString().ToLowerInvariant() }'>

        <span>
            @if (isAgency)
            {
                <a href="@string.Format("/{0}/data-{1}-structure-{2}", item.Id, item.VersId, item.StructId)">@string.Format("{0} ({1:dd.MM.yyyy})", item.Name, item.CreationDate)</a>
            }   
            else
            {
                <a href="@string.Format("/{0}",item.Id)">@string.Format("{0} ({1:dd.MM.yyyy})", item.Name, item.CreationDate)</a>
            }
        </span>

        @if (item.SubVersions.Any())
        {
            <ul>
                @foreach (var subVersion in item.SubVersions)
                {
                    @CreateVersionNode(subVersion, isAgency);
                }
            </ul>
        }
    </li>
}



<div class="set-versions-list">
    <div id="jstree">
        <ul>
            @CreateVersionNode(Model, isAgency)
        </ul>
    </div>
</div>
