﻿<!-- od new feedback form -->
<script type="text/javascript">
    $(function () {

        $('form', $('div.popup_feedback')).submit(function (e) {

            e.preventDefault();
            var _data = {
                feedbackTheme: $("select#feedbackTheme").val(),
                personName: $("input#personName").val(),
                email: $("input#email").val(),
                message: $("textarea#message").val()
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SendFeedback","Home")',
                dataType: 'json',
                data: _data,
                success: function (result) {
                    alert(result.Message);
                }
            });

            $('.popup_feedback').toggleClass('closed');
            $('.haze').hide();
            $('.popup_feedback form').trigger('reset');
        });

        return false;
    });
</script>

<div class="b-popup popup_feedback closed">
    <h3>Обратная связь</h3>
    <span class="close_feedback">X</span>
    @using (Html.BeginForm("SendFeedBack", "Home", FormMethod.Post))
    {
        <div class="b-form first">
            <div class="row">
                <label for="">Тема:</label>
                <select data-val="true" data-val-required="The feedbackTheme field is required." id="feedbackTheme" name="feedbackTheme">
                    <option value="create_new_dataset">Создание набора данных</option>
                    <option value="error_in_dataset">Ошибка в наборе данных</option>
                    <option value="error_in_od">Ошибка в работе портала</option>
                    <option value="other">Другое</option>
                </select>
            </div>
        </div>
        <div class="b-form">
            <div class="row">
                <label for="personName">Имя</label>
                <input class="text-box single-line" name="personName" id="personName" type="text" value="" />
            </div>
            <div class="row">
                <label for="email">E-mail</label>
                <input class="text-box single-line" name="email" type="email" id="email" value="" />
            </div>
            <div class="row">
                <label for="message">Сообщение</label>
                <textarea class="text-box multi-line" name="message" id="message"></textarea>
            </div>
        </div>
        <div class="b-form last">
            <div class="row buttons">
                <input type="submit" value="Отправить" class="button feedback_send" />
            </div>
        </div>
    }
</div>