﻿@model UI.Models.Holder<KeyValuePair<string, string>>

<div class="b-center">
    <div class="logo_min"><a href="#"></a></div>
    <div class="copyright">
        <p>&copy; @DateTime.Now.Year, Администрация Краснодарского края</p>
    </div>

    <!-- od delete .footer-menu -->
    @*<div class="footer-menu" style="display: none">
        <ul>
            @foreach (var item in Model)
            {
                <li>@Html.ActionLink(item.Key, item.Value, "Home", null, null)</li>
            }
            <li><a href="http://open.krasnodar.ru">Открытое правительство </a></li>

        </ul>
    </div>*@
    <!-- od delete .footer-menu -->

    <!-- od new b-feedback -->
    <div class="b-feedback">
        <a href="#" class="lnk-feedback">Обратная связь</a>
        <a href="#" class="lnk-up"></a>
    </div>
    <!-- od new b-feedback -->

</div>
<!--.b-center-->
