﻿<div class="b-search b-form" style="display: none;">
    <div class="row">
        <input type="text" placeholder="Документ" />
        <input type="submit" class="button" value="Найти" />
    </div>
</div>
