﻿@model UI.Models.Holder<KeyValuePair<string, string>>

<div class="b-header-right">
    <ul class="h-menu">
        <li>
            <button class="h-m-link">
                <img src="/Content/Images/bars.png" alt="" /></button>
            <ul>
                @foreach (var item in Model)
                {
                    <li>@Html.ActionLink(item.Key, item.Value, "Home", null,  new { @class = "h-m-link" } )</li>
                }
                <li>
                    <a href="http://open.krasnodar.ru">Открытое правительство </a>
                </li>
            </ul>
        </li>
    </ul>
</div>



