﻿/* regular font */
@font-face {
    font-family: 'universmedium';
    src: url('regular/14044-webfont.eot');
    }
@font-face {
    font-family: 'universmedium';
    src: url('regular/14044-webfont.ttf') format('truetype'),
         url('regular/14044-webfont.svg#universmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* bold fonts */
@font-face {
    font-family: 'universbold';
    src: url('bold/14046-webfont.eot');
    }
@font-face {
    font-family: 'universbold';
    src: url('bold/14046-webfont.ttf') format('truetype'),
         url('bold/14046-webfont.svg#universbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


