.rateit {
	display: -moz-inline-box;
	display: inline-block;
	position: relative;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}
.rateit .rateit-range {
	position: relative;
	display: -moz-inline-box;
	display: inline-block;
	background: url(/Content/Images/plugins/rateit/star.png);
	height: 20px;
	outline: none;
}
.rateit .rateit-range * { display: block; }
/* for IE 6 */
* html .rateit, * html .rateit .rateit-range { display: inline; }
/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range { display: inline; }
.rateit .rateit-hover, .rateit .rateit-selected {
	position: absolute;
	left: 0px;
}
.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl {
	left: auto;
	right: 0px;
}
.rateit .rateit-hover { background: url(/Content/Images/plugins/rateit/star.png) left -40px; }
.rateit .rateit-hover-rtl { background-position: right -40px; }
.rateit .rateit-selected { background: url(/Content/Images/plugins/rateit/star.png) left -20px; }
.rateit .rateit-selected-rtl { background-position: right -20px; }
.rateit .rateit-preset { background: url(/Content/Images/plugins/rateit/star.png) left -60px; }
.rateit .rateit-preset-rtl { background: url(/Content/Images/plugins/rateit/star.png) left -60px; }
.rateit button.rateit-reset {
	background: url(/Content/Images/plugins/rateit/delete.gif) 0 0;
	width: 16px;
	height: 16px;
	display: -moz-inline-box;
	display: inline-block;
	float: left;
	outline: none;
	border: none;
	padding: 0;
}
.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus { background-position: 0 -16px; }
